.available-filters-dropdown {
	.inside {
		margin-top: 8px;
	}
}

#form_data {
	.inside {
		margin-bottom: -12px;
		margin-top: 8px;
	}

	.widget {
		.widget-top {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		.widget-action-buttons {
			display: flex;
			gap: 10px;
			padding-right: 15px;

			.button-link {
				opacity: .8;
				text-decoration: none;

				&:hover {
					opacity: 1;
				}
			}
		}

		.widget-inside {
			display: none;
		}

		.filter-key {
			color: #646970;

			&:empty {
				display: none;
			}

			&::before {
				content: ': ';
			}
		}
	}
}
