.available-filters-dropdown {
	.inside {
		margin-top: 8px;
	}
}

#form_data {
	.inside {
		margin-bottom: -12px;
		margin-top: 8px;
	}

	.widget {
		.widget-top {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		.widget-action-buttons {
			display: flex;
			gap: 10px;
			padding-right: 15px;

			.button-link {
				opacity: .8;
				text-decoration: none;

				&:hover {
					opacity: 1;
				}
			}
		}

		.widget-inside {
			display: none;
		}

		.filter-key {
			color: #646970;

			&:empty {
				display: none;
			}

			&::before {
				content: ': ';
			}
		}
	}
}

#filter-form-menu {
	a {
		cursor: pointer;
	}
}

.meta-box-sortables {
	.force-hide {
		display: none !important;
	}
}

.visibility-rules-meta-box {
	.hide-on-field {
		label {
			margin-right: 15px;
		}
	}

	.visibility-rules-field {
		align-items: flex-start;

		.wcapf-form-sub-field-label {
			line-height: 33px;
		}

		&.disabled {
			display: none;
		}
	}

	.visibility-rules {
		p {
			margin: 0 0 5px;
		}

		.single-line-rule {
			max-width: 650px;

			@media screen and (max-width: 782px) {
				max-width: 100%;

				.button {
					margin-bottom: 0;
				}
			}

			select {
				width: 100%;
			}

			td {
				&:not(:last-child) {
					padding-right: 4px;
				}

				&.param {
					width: 30%;
				}

				&.operator {
					width: 20%;
				}

				&.add {
					width: 40px;
				}

				&.remove {
					width: 28px;
				}
			}

			tr {
				&:hover {
					.remove-single-line-rule-btn {
						visibility: visible;
					}
				}
			}

		}

		.visibility-rules-group .single-line-rule:only-child tbody tr:only-child {
			.remove-single-line-rule-btn {
				display: none;
			}
		}

		.remove-single-line-rule-btn {
			color: #dc3545;
			cursor: pointer;
			visibility: hidden;
		}
	}
}

//.tab-general,
//.tab-settings,
//.tab-customize {
//	display: none;
//}
//
//.tab-customize {
//	display: block;
//}
//
//#advanced-sortables {
//	display: none;
//}
//
//#wcapf-form-customize {
//	display: flex;
//}
