.wcapf-admin-toolbar {
	background: #fff;
	border-bottom: 1px solid #ccd0d4;
	padding-top: 10px;

	h2 {
		font-size: 14px;
		line-height: 2.5;
		display: inline-block;
		padding: 5px 0;
		margin: 0 10px 0 0;

		i {
			vertical-align: middle;
			color: #babbbc;
		}
	}

	.wcapf-tab {
		display: inline-block;
		font-size: 14px;
		line-height: 2.5;
		padding: 5px;
		margin: 0 5px;
		text-decoration: none;
		color: inherit;

		&.is-active {
			border-bottom: #0071a4 solid 3px;
			padding-bottom: 10px;
		}

		&:hover {
			color: #00a0d2;
		}

		&:focus {
			box-shadow: none;
		}
	}

	a.btn-upgrade {
		display: inline-flex;
		background: #dee3ff;
		border: 1px solid #c6d3f8;
		box-sizing: border-box;
		border-radius: 0.25rem;
		padding: 0 0.6rem;
		cursor: pointer;
		vertical-align: middle;
		margin-top: -6px;
		margin-left: 20px;
		text-decoration: none;

		img {
			max-width: 20px;
			height: auto;
		}

		span {
			font-family: system-ui;
			font-weight: 600;
			letter-spacing: .2px;
			line-height: 1;
			font-size: 0.625rem;
			text-transform: uppercase;
			color: #078cd6;
			display: inline-flex;
			gap: 0.65rem;
			align-items: center;
			padding: 5px 0;
		}
	}

	// Within wpcontent.
	#wpcontent & {
		margin-left: -20px;
		padding-left: 20px;
	}

	// Mobile
	@media screen and (max-width: 600px) {
		& {
			display: none;
		}
	}
}
