@import "../mixins";

#post-body {
	@include clearfix;
}

#available-fields {
	@include clearfix;

	margin-top: -5px;

	.widget {
		float: left;
		margin: 10px 10px 0 0;
		min-width: 150px;
		position: relative;
		z-index: 1;

		.widget-title-action {
			display: none;
		}
	}
}

.wcapf-form-sidebar {
	.description {
		margin-bottom: 10px;
	}
}
