@import "../mixins";

.column-start.row.ui-options-row {
	@include clearfix;

	margin: 0 0 15px;
	max-width: calc(3 * 16.5em);

	> .column {
		float: left;
		width: calc(100% / 3);
	}

	.wcapf-form-sub-field {
		align-items: flex-start;
		flex-direction: column;
		gap: 5px;
		margin: 0 0 10px;
		min-width: unset;

		.wcapf-form-sub-field-label {
			width: unset;
		}

		.widefat[type="text"] {
			width: 100px;
		}
	}

	// todo: check it where it is used.
	> .wcapf-form-sub-field {
		//flex: 0 0 15em;
	}

	.column-start.column {
		display: flex;
		flex-direction: column;

		.wcapf-form-sub-field ~ .wcapf-form-sub-field {
			align-items: center;
			flex-direction: row-reverse;

			.wcapf-wrapper {
				flex: 0 0 auto;
			}

			.wcapf-form-sub-field-label {
				flex: 1;
			}
		}
	}
}
