.scroll-window-custom-element-input {
	margin-top: 10px;
}

#scroll_window_custom_element {
	max-width: 300px;
}

#scroll_to_top_offset {
	max-width: 80px;
}

.media-upload {
	&.no-image {
		img,
		.remove-image-button {
			display: none;
		}
	}
}
