.visibility-rules {
	.value {
		select:not(.active) {
			display: none;
		}
	}
}


.visibility-rules-meta-box {
	.hide-on-field {
		label {
			margin-right: 15px;
		}
	}

	.visibility-rules-field {
		align-items: flex-start;

		.wcapf-form-sub-field-label {
			line-height: 33px;
		}

		&.disabled {
			display: none;
		}
	}

	.visibility-rules {
		p {
			margin: 0 0 5px;
		}

		.single-line-rule {
			max-width: 650px;

			@media screen and (max-width: 782px) {
				max-width: 100%;

				.button {
					margin-bottom: 0;
				}
			}

			select {
				width: 100%;
			}

			td {
				&:not(:last-child) {
					padding-right: 4px;
				}

				&.param {
					width: 30%;
				}

				&.operator {
					width: 22%;
				}

				&.add {
					width: 40px;
				}

				&.remove {
					width: 28px;
				}
			}

			tr {
				&:hover {
					.remove-single-line-rule-btn {
						visibility: visible;
					}
				}
			}

		}

		.visibility-rules-group .single-line-rule:only-child tbody tr:only-child {
			.remove-single-line-rule-btn {
				display: none;
			}
		}

		.remove-single-line-rule-btn {
			color: #dc3545;
			cursor: pointer;
			visibility: hidden;
		}
	}
}
