includes:
	- phpstan-baseline.neon

parameters:
	level: 1
	paths:
		- includes/
		- wc-ajax-product-filter.php
		- docker/
		- tests/
	scanFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	scanDirectories:
		- vendor/wp-phpunit/wp-phpunit/includes/
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	treatPhpDocTypesAsCertain: false
