#post-body {
	&::before,
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

#available-fields {
	margin-top: -5px;

	&::before,
	&::after {
		clear: both;
		content: '';
		display: table;
	}

	.widget {
		float: left;
		margin: 10px 10px 0 0;
		min-width: 150px;
		position: relative;
		z-index: 1;

		.widget-title-action {
			display: none;
		}
	}

}

#search-form {
	&.ui-drop-active {
		border-color: #777;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	}

	#search-form-wrapper {
		margin-bottom: -10px;
		margin-top: 10px;
	}

	.widget {
		margin-bottom: 10px;
		min-width: 150px;

		.widget-inside {
			border-top: none;
			padding: 12px 15px 15px 15px;
		}

		&.ui-sortable-helper {
			.widget-title-action {
				display: none;
			}

			.widget-inside {
				display: none !important;
			}
		}

		.wcapf-form-field-no-settings {
			margin: 0 0 10px;
		}
	}
}

.wcapf-form-field {
	margin: 0 0 20px;

	.wcapf-form-sub-field {
		margin: 0 0 10px;
	}

	.widefat {
		max-width: 300px;
		width: unset;
	}

	.widefat[type="text"] {
		width: 100%;
	}

	.wcapf-form-sub-field {
		align-items: center;
		display: flex;
		gap: 15px;

		.wcapf-form-sub-field-label {
			display: flex;
			justify-content: flex-end;
			min-width: 200px;
		}

		.wcapf-wrapper {
			flex: 1;
		}
	}
}

.wcapf-form-sidebar {
	.description {
		margin-bottom: 10px;
	}
}

.wcapf-message-wrapper {
	display: none;

	p {
		margin: 7px 0 0;
	}

	.success {
		color: #28a745;
	}

	.error {
		color: #dc3545;
	}
}
