#post-body {
	&::before,
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

#available-fields {
	margin-top: -5px;

	&::before,
	&::after {
		clear: both;
		content: '';
		display: table;
	}

	.widget {
		float: left;
		margin: 10px 10px 0 0;
		min-width: 150px;
		position: relative;
		z-index: 1;

		.widget-title-action {
			display: none;
		}
	}

}

#search-form {
	&.ui-drop-active {
		border-color: #777;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	}

	#search-form-wrapper {
		margin-bottom: -10px;
		margin-top: 10px;
	}

	.widget {
		margin-bottom: 10px;
		min-width: 150px;

		.widget-inside {
			border-top: none;
			display: block; // TODO: Remove this.
			padding: 12px 15px 15px 15px;
		}

		&.ui-sortable-helper {
			.widget-title-action {
				display: none;
			}

			.widget-inside {
				display: none !important;
			}
		}

		.wcapf-form-field-no-settings {
			margin: 0 0 10px;
		}
	}
}

.wcapf-form-field {
	margin: 0 0 20px;

	.column-start {
		&.row {
			display: flex;
			gap: 3em;
		}

		&.column {
			flex: 0 0 40em;
		}

		&.separator-top {
			border-top: 1px solid #ddd;
			margin-top: .8em;
			padding-top: 2em;
		}

		&.separator-bottom {
			border-bottom: 1px solid #ddd;
			margin-bottom: 2em;
			padding-bottom: .8em;
		}
	}

	.no-top-margin {
		margin-top: 0;
	}

	.wcapf-form-sub-field {
		margin: 0 0 20px;
		min-width: 445px;
	}

	.widefat {
		max-width: 300px;
		width: unset;
	}

	.widefat[type="text"] {
		width: 100%;
	}

	.wcapf-form-sub-field {
		align-items: center;
		display: flex;
		gap: 15px;

		.wcapf-form-sub-field-label {
			display: flex;
			justify-content: flex-start;
			width: 200px;
		}

		.wcapf-wrapper {
			flex: 1;
		}

		&.wcapf-form-sub-field-hidden {
			display: none;
		}
	}

	.wcapf-form-sub-field-radio {
		.wcapf-wrapper {
			display: flex;
			gap: 10px;
		}

		&.wcapf-sub-field-radio-row {
			align-items: flex-start;

			.wcapf-form-sub-field-label {
				margin-top: 4px;
			}

			.wcapf-wrapper {
				flex-direction: column;
			}
		}
	}

	.column-start.row.order_by_column {
		gap: 1em;

		.wcapf-form-sub-field {
			min-width: unset;

			&:not(:first-child) {
				.wcapf-form-sub-field-label {
					display: none;
				}
			}
		}
	}

	.wcapf-form-sub-field-soft_limit {
		.widefat[type="text"] {
			width: 50px;
		}
	}

	/* post meta field */
	@mixin clearfix {
		&::before,
		&::after {
			content: '';
			clear: both;
			display: table;
		}
	}

	.manual-options-table,
	.number-manual-options-table {
		.manual-options-table-header {
			@include clearfix;

			font-weight: bold;
			margin: 1em 0;

			> div {
				float: left;
			}
		}

		.manual-options-table-body {
			.manual-options-table-body-rows {
				.item {
					@include clearfix;

					background-color: #f7f7f7;
					border: 1px solid #dddddd;
					padding: 10px;

					&:not(:last-child) {
						margin-bottom: 10px;
					}

					> div {
						&:not(:last-child) {
							float: left;
							margin-right: 15px;
						}

						&:last-child {
							float: right;
						}

						&:first-child {
							.dashicons {
								cursor: move;
								margin-top: 3px;
								opacity: 0.5;
							}
						}

						&:last-child {
							button {
								margin-top: 7px;
							}
						}
					}
				}
			}

			.ui-sortable-placeholder {
				min-height: 52px; // 2px extra for the border
			}

			.no-options-found {
				background-color: #f7f7f7;
				border: 1px solid #dddddd;
				padding: 5px 10px;
				position: relative;
				width: auto;
			}
		}

		.manual-options-table-footer {
			margin: 1em 0;

			@include clearfix;

			> div {
				&:first-child {
					float: left;
				}

				&:last-child {
					float: right;
				}
			}
		}

		&:not(.has-options) {
			.manual-options-table-body-rows {
				display: none;
			}
		}

		&.has-options {
			.no-options-found {
				display: none;
			}
		}
	}

	.manual-options-table {
		.manual-options-table-header {
			> div {
				&:first-child {
					padding-left: 80px;
					width: 250px;
				}
			}
		}
	}

	.number-manual-options-table {
		.option_min_value,
		.option_max_value {
			width: 100px;
		}

		.manual-options-table-header {
			> div {
				&:first-child {
					padding-left: 60px;
					width: 120px;
				}

				&:nth-child(2) {
					width: 120px;
				}
			}
		}
	}

	.column-group-meta_key_manual_options,
	.column-group-number_manual_options {
		.column-start.row {
			display: block;
		}
	}

	.number-automatic-options.force-show {
		display: block !important;
	}

	.number-manual-options-table.force-hide {
		display: none !important;
	}
}

.wcapf-form-sidebar {
	.description {
		margin-bottom: 10px;
	}
}

.wcapf-message-wrapper {
	display: none;

	p {
		margin: 7px 0 0;
	}

	.success {
		color: #28a745;
	}

	.error {
		color: #dc3545;
	}
}

.remodal-overlay {
	z-index: 99999 !important;
}

.remodal-wrapper {
	z-index: 100000 !important;
}

.wcapf-dual-ring {
	display: inline-block;
	height: 80px;
	width: 80px;
}

.wcapf-dual-ring:after {
	animation: wcapf-dual-ring 1.2s linear infinite;
	border-color: #ccc transparent #ccc transparent;
	border-radius: 50%;
	border-style: solid;
	border-width: 4px;
	content: '';
	display: block;
	height: 64px;
	margin: 8px;
	width: 64px;
}

@keyframes wcapf-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.post-meta-options-modal {
	text-align: initial;

	.wcapf-modal-header {
		border-bottom: 1px solid #ddd;
		display: flex;
		margin: -35px -35px 15px -35px;
		padding: 0 35px;

		.remodal-close {
			left: auto;
			right: 0;
			top: 5px;
		}
	}

	.post-meta-options-loader {
		text-align: center;

		&:not(.active) {
			display: none;
		}
	}

	.no-key-found-message {
		&:not(.active) {
			display: none;
		}
	}

	.post-meta-options {
		label {
			background-color: #fafafa;
			border: 1px solid #eeeeee;
			display: inline-block;
			margin-bottom: 10px;
			margin-right: 10px;
			padding: 7px 10px;

			input[type="checkbox"] {
				margin-right: 8px;
			}
		}
	}

	.wcapf-modal-footer {
		border-top: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		margin: 15px -35px -35px -35px;
		padding: 16px 35px;

		&:not(.active) {
			display: none;
		}

		div {
			&:last-child {
				align-items: center;
				display: flex;
				gap: 8px;
			}
		}
	}
}

.column-start.row.ui-options-row {
	display: flex;
	gap: 2em;
	margin: 0 0 15px;

	.wcapf-form-sub-field {
		align-items: flex-start;
		flex-direction: column;
		gap: 5px;
		margin: 0 0 10px;
		min-width: unset;

		.wcapf-form-sub-field-label {
			width: unset;
		}

		.widefat[type="text"] {
			width: 100px;
		}
	}

	> .wcapf-form-sub-field {
		flex: 0 0 15em;
	}

	.column-start.column {
		flex: 0 0 15em;

		.wcapf-form-sub-field ~ .wcapf-form-sub-field {
			align-items: center;
			flex-direction: row-reverse;

			.wcapf-wrapper {
				flex: 0 0 auto;
			}

			.wcapf-form-sub-field-label {
				flex: 1;
			}
		}
	}
}
