.wcapf-filter .wcapf-list-wrapper.display-type-label {
	.wcapf-filter-item {
		label {
			display: flex;
			position: relative;
		}

		.wcapf-filter-item-label {
			background-color: var(--wcapf-labeled-nav-bg-color);
			border: var(--wcapf-labeled-nav-border-size) solid var(--wcapf-labeled-nav-border-color);
			border-radius: var(--wcapf-labeled-nav-border-radius);
			padding: var(--wcapf-labeled-nav-vr-padding) var(--wcapf-labeled-nav-hr-padding);
			user-select: none;
		}

		input[type="checkbox"],
		input[type="radio"] {
			font-size: 0;
			height: 0;
			opacity: 0;
			position: absolute;
			width: 0;

			&:focus-visible ~ .wcapf-filter-item-label {
				outline: 2px solid var(--wcapf-primary-color);
				outline-offset: 2px;
			}

			&[disabled] ~ .wcapf-filter-item-label {
				background-color: var(--wcapf-labeled-nav-disabled-bg-color);
			}
		}

		&.empty-item {
			label {
				cursor: var(--wcapf-empty-item-cursor);
				opacity: var(--wcapf-empty-item-opacity);
			}
		}

		&.current-tax-item,
		&.active-as-ancestor {
			label {
				cursor: var(--wcapf-current-tax-item-cursor);
			}
		}

		&.current-tax-item {
			input[type="checkbox"],
			input[type="radio"] {
				&:checked ~ .wcapf-filter-item-label {
					background-color: var(--wcapf-label-active-as-archive-bg-color);
					border-color: var(--wcapf-labeled-nav-border-color);
					color: inherit;
				}
			}
		}

		&.active-as-ancestor {
			input[type="checkbox"],
			input[type="radio"] {
				~ .wcapf-filter-item-label {
					background-color: var(--wcapf-label-active-as-ancestor-bg-color);
				}
			}
		}
	}

	&.default-primary-style {
		.wcapf-filter-item {
			&:not(.current-tax-item) {
				&.item-active {
					.wcapf-filter-item-label {
						background-color: var(--wcapf-primary-color);
						border-color: var(--wcapf-primary-color);
						color: var(--wcapf-primary-text-color);
					}
				}
			}
		}
	}
}
