@import "../mixins";

.wcapf-field-title {
	margin: 0;
	padding: 0;
	font-size: var(--wcapf-field-title-font-size);
}

.wcapf-single-filter {
	margin: 0 0 var(--wcapf-filter-base-bottom-margin);
}

.wcapf-field-title ~ .wcapf-field-inner > div {
	padding-top: var(--wcapf-filter-inner-top-padding);
}

.wcapf-layered-nav {
	ul {
		list-style-type: none;
		margin: 0;
	}

	> ul {
		padding: 0;
		width: 100%;
	}

	li {
		margin: 0;
		padding: var(--wcapf-layered-nav-list-vertical-spacing) 0;

		ul {
			padding: 0 0 0 var(--wcapf-layered-nav-list-child-left-padding);
		}
	}

	// TODO: Should be applied for native input elements.
	li {
		input[type="checkbox"],
		input[type="radio"] {
			margin: 0;

			@include ltr {
				margin-right: var(--wcapf-native-checkbox-radio-space);

				~ label {
					margin-left: 0;
				}
			}

			@include rtl {
				margin-left: var(--wcapf-native-checkbox-radio-space);

				~ label {
					margin-right: 0;
				}
			}

			&:focus-visible {
				outline-offset: 1px;
				outline: 1px dotted var(--wcapf-primary-color);
			}
		}
	}

	.item-children {
		> li:first-child {
			padding-top: calc(var(--wcapf-layered-nav-list-vertical-spacing) * 2);
		}

		> li:last-child {
			padding-bottom: 0;
		}
	}

	.hierarchy-accordion-toggle {
		background-color: var(--wcapf-hierarchy-accordion-toggle-bg-color);
		cursor: pointer;
		display: inline-block;
		line-height: var(--wcapf-hierarchy-accordion-toggle-size);
		margin-left: var(--wcapf-hierarchy-accordion-toggle-space);
		text-align: center;
		user-select: none;
		width: var(--wcapf-hierarchy-accordion-toggle-size);

		&::before {
			content: '+';
		}

		&.active {
			&::before {
				content: '-';
			}
		}
	}
}

.wcapf-layered-nav,
.wcapf-labeled-nav {
	&:not(.display-type-color):not(.display-type-image) {
		.count {
			opacity: .6;

			&::before {
				content: ' (';
			}

			&::after {
				content: ')';
			}
		}
	}
}

.wcapf-dropdown-nav {
	select {
		width: 100%;
	}

	.chosen-container {
		width: 100% !important; // Important is required to make the 'chosen' element full-width.
	}
}

@mixin label_disable {
	&.disabled {
		cursor: var(--wcapf-layered-nav-item-disabled-cursor);
		opacity: var(--wcapf-layered-nav-item-disabled-opacity);
		user-select: none;
	}
}

@mixin label {
	background: inherit;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	outline: none;
	text-transform: none;
	letter-spacing: normal;
	min-height: auto;
	height: auto;
}

.wcapf-labeled-nav {
	> .item {
		@include label;
	}

	&.display-type-label {
		margin-bottom: calc(var(--wcapf-labeled-nav-margin) * -1);

		> .item {
			border: var(--wcapf-labeled-nav-border-size) solid var(--wcapf-filter-outline-color);
			border-radius: var(--wcapf-labeled-nav-border-radius);
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
			padding: var(--wcapf-labeled-nav-vr-padding) var(--wcapf-labeled-nav-hr-padding);

			&:focus-visible {
				border-color: var(--wcapf-primary-color);
			}

			&.checked {
				background-color: var(--wcapf-filter-outline-color);

				.count {
					opacity: var(--wcapf-labeled-nav-count-opacity);
				}
			}
		}
	}
}

.wcapf-range-wrapper {
	.range-values {
		> span {
			align-items: center;
			display: inline-flex; // Remove extra whitespace between span elements
			white-space: nowrap;
		}
	}

	input[type="text"] {
		font-size: var(--wcapf-range-filter-input-font-size);
		background-color: var(--wcapf-range-filter-input-bg-color);
		border-style: solid;
		border-width: var(--wcapf-range-filter-input-border-size);
		border-color: var(--wcapf-range-filter-input-border-color);
		border-radius: var(--wcapf-range-filter-input-border-radius);
		box-shadow: none;
		line-height: 1;
		max-width: var(--wcapf-range-filter-input-max-width);
		margin: 0;
		outline: none;
		padding: var(--wcapf-range-filter-input-padding);
		min-height: auto;
		height: auto;

		&:focus {
			box-shadow: none;
			outline: none;
		}
	}

	.justify-values {
		align-items: center;
		display: flex;
		justify-content: space-between;
		gap: 0.875em;

		&.display-values-as-plain_text {
			.wcapf-range-separator {
				display: none;
			}
		}

		&.display-values-as-input_field {
			input[type="text"],
			input[type="number"] {
				max-width: unset;
				width: 100%;
			}
		}
	}

	.display-values-as-input_field {
		.wcapf-range-start,
		.wcapf-range-end {
			position: relative;
		}

		.wcapf-range-unit {
			position: absolute;
		}

		@mixin unit-left {
			input[type="text"],
			input[type="number"] {
				text-align: right;
				padding-left: var(--wcapf-range-filter-unit-size);
				padding-right: calc(var(--wcapf-range-filter-input-padding) * 1.2);
			}

			.wcapf-range-unit {
				left: .75em;
			}
		}

		@mixin unit-right {
			input[type="text"],
			input[type="number"] {
				text-align: left;
				padding-right: var(--wcapf-range-filter-unit-size);
				padding-left: calc(var(--wcapf-range-filter-input-padding) * 1.2);
			}

			.wcapf-range-unit {
				right: .75em;
			}
		}

		&.unit-position-left {
			@include ltr {
				@include unit-left;
			}

			@include rtl {
				@include unit-right;
			}
		}

		&.unit-position-right {
			@include ltr {
				@include unit-right;
			}

			@include rtl {
				@include unit-left;
			}
		}
	}
}

.wcapf-range-slider {
	padding-bottom: var(--wcapf-range-slider-bottom-padding);

	.display-values-as-input_field {
		margin-bottom: var(--wcapf-nouislider-input-field-margin-bottom);
	}

	.display-values-as-plain_text {
		margin-bottom: var(--wcapf-nouislider-plain-text-margin-bottom);
	}
}

a.wcapf-reset-filters-btn {
	cursor: pointer;
}

.wcapf-active-filters {
	h5 {
		font-size: 1em;
		margin: 0 0 .5em;
	}

	.wcapf-active-filter-group {
		margin: 0 0 var(--wcapf-active-filters-group-bottom-margin);
	}

	.active-items {
		margin: 0 0 calc(var(--wcapf-labeled-nav-margin) * -1);

		> .item {
			@include label;

			border: var(--wcapf-labeled-nav-border-size) solid var(--wcapf-filter-outline-color);
			border-radius: var(--wcapf-labeled-nav-border-radius);
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
			padding: var(--wcapf-active-filters-nav-vr-padding) var(--wcapf-active-filters-nav-hr-padding);

			&::after {
				content: '\00D7';
				margin: 0 0 0 5px;
			}
		}

		.empty-filter-message {
			border-color: transparent;
			cursor: unset;
			padding-left: unset;
			padding-right: unset;

			&::after {
				content: none;
			}
		}
	}

	&.active-filter-layout-simple ~ .clear-all-button-wrapper {
		display: inline-block;
		margin-top: var(--wcapf-clear-all-btn-top-margin);
	}
}
