.wcapf-field-title {
	margin: 0;
}

.wcapf-single-filter {
	margin: 0 0 var(--wcapf-filter-base-bottom-margin);

	.wcapf-field-title ~ .wcapf-field-inner {
		margin: var(--wcapf-filter-inner-top-margin) 0 0;
	}
}

.wcapf-layered-nav {
	ul {
		list-style-type: none;
		padding: 0;
	}

	> ul {
		margin: 0;
		width: 100%;
	}

	li {
		margin: 0 0 var(--wcapf-layered-nav-list-bottom-margin);

		ul {
			margin: var(--wcapf-layered-nav-list-bottom-margin) 0 0 var(--wcapf-layered-nav-list-child-left-margin);
		}
	}

	.hierarchy-accordion-toggle {
		background-color: var(--wcapf-hierarchy-accordion-toggle-bg-color);
		cursor: pointer;
		display: inline-block;
		line-height: var(--wcapf-hierarchy-accordion-toggle-size);
		margin: 0 0 0 0.4em;
		text-align: center;
		user-select: none;
		width: var(--wcapf-hierarchy-accordion-toggle-size);

		&::before {
			content: '+';
		}

		&.active {
			&::before {
				content: '-';
			}
		}
	}

	.hierarchy-accordion-toggle ~ .with-children {
		display: none;
	}

	.hierarchy-accordion-toggle.active ~ .with-children {
		display: block;
	}
}

.wcapf-layered-nav,
.wcapf-labeled-nav {
	&:not(.display-type-color):not(.display-type-image) {
		.count {
			opacity: 0.6;

			&::before {
				content: ' (';
			}

			&::after {
				content: ')';
			}
		}
	}
}

.wcapf-dropdown-nav {
	select {
		width: 100%;
	}

	.chosen-container {
		width: 100% !important; // Important is required to make the 'chosen' element full-width.

		a {
			font-weight: normal;
			text-decoration: none;
		}
	}
}

.wcapf-labeled-nav {
	> div {
		cursor: pointer;
		display: inline-block;
	}

	&.display-type-label {
		margin: 0 0 calc(var(--wcapf-labeled-nav-margin) * -1);

		> div {
			border: 1px solid var(--wcapf-filter-outline-color);
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
			padding: 3px 10px;

			&.checked {
				background-color: var(--wcapf-filter-outline-color);

				.count {
					opacity: 0.8;
				}
			}
		}
	}
}

.wcapf-range-number,
.wcapf-range-slider {
	.range-wrapper {
		> span {
			align-items: center;
			display: inline-flex; // Remove extra whitespace between span elements
		}
	}
}

.wcapf-range-number {
	input[type="number"] {
		max-width: 80px;
	}
}

.wcapf-range-slider {
	padding: 0 0 var(--wcapf-range-slider-bottom-margin);

	input[type="text"] {
		max-width: 80px;
	}

	.range-wrapper {
		&.display-values-as-input_field {
			margin-bottom: var(--wcapf-nouislider-input-field-margin-bottom);
		}

		&.display-values-as-plain_text {
			margin-bottom: var(--wcapf-nouislider-plain-text-margin-bottom);
		}

		&.align-values-end-without-separator {
			align-items: center;
			display: flex;
			justify-content: space-between;

			.wcapf-range-separator {
				display: none;
			}
		}
	}
}

a.wcapf-reset-filters-btn {
	cursor: pointer;
}

.wcapf-active-filters {
	h5 {
		font-size: 1em;
		margin: 0 0 .5em;
	}

	.wcapf-active-filter-group {
		&:not(:last-child) {
			margin: 0 0 var(--wcapf-active-filters-group-bottom-margin);
		}
	}

	.active-items {
		margin: 0 0 calc(var(--wcapf-labeled-nav-margin) * -1);

		> div {
			border: 1px solid var(--wcapf-filter-outline-color);
			cursor: pointer;
			display: inline-block;
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
			padding: 1px 7px;

			&::after {
				content: '\00D7';
				margin: 0 0 0 5px;
			}
		}
	}

	.wcapf-reset-filters-btn {
		display: inline-block;
		margin: var(--wcapf-reset-filter-btn-top-margin) 0 0;
	}

	.wcapf-active-filter-group ~ .wcapf-reset-filters-btn {
		margin-top: 0;
	}
}

.wcapf-reset-button-filter {
	.wcapf-reset-filters-btn {
		margin: var(--wcapf-reset-filter-btn-top-margin) 0 0;
	}

	.wcapf-field-title ~ .wcapf-field-inner .wcapf-reset-filters-btn {
		margin-top: 0;
	}
}
