@import "../mixins";

.wcapf-filter {
	@include box-sizing;
}

.wcapf-filter {
	margin: 0 0 var(--wcapf-filter-base-bottom-margin);
	line-height: var(--wcapf-filter-line-height);

	.wcapf-filter-title {
		margin: 0;
		padding: 0;
		font-size: var(--wcapf-filter-title-font-size);
		font-weight: var(--wcapf-filter-title-font-weight);
		line-height: var(--wcapf-filter-title-line-height);

		.wcapf-filter-accordion-trigger {
			align-items: center;
			border-radius: 0.125em; // For showing rounded outline when focused.
			display: flex;
			font-family: inherit;
			justify-content: space-between;
			width: 100%;

			@include button;

			&[aria-expanded="true"] {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		.wcapf-filter-accordion-icon {
			display: inline-flex;

			svg {
				width: var(--wcapf-filter-accordion-icon-size);
				height: var(--wcapf-filter-accordion-icon-size);
			}
		}
	}
}

.wcapf-filter-title ~ .wcapf-filter-inner > div {
	padding-top: var(--wcapf-filter-title-margin-bottom);
}

.wcapf-filter .wcapf-list-wrapper {
	ul.wcapf-filter-options {
		border: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		line-height: inherit;

		li.wcapf-filter-option {
			border: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
			line-height: inherit;
		}
	}
}

.wcapf-filter .wcapf-list-wrapper.list-type-native {
	ul.wcapf-filter-options li.wcapf-filter-option {
		&:not(:last-child) {
			margin-bottom: var(--wcapf-layered-nav-list-vertical-spacing);
		}

		ul.wcapf-filter-options {
			li:first-child {
				margin-top: var(--wcapf-layered-nav-list-vertical-spacing);
			}

			@include ltr {
				padding-left: var(--wcapf-layered-nav-list-child-left-padding);
			}

			@include rtl {
				padding-right: var(--wcapf-layered-nav-list-child-left-padding);
			}
		}
	}

	li.wcapf-filter-option {
		.wcapf-filter-item {
			align-items: center;
			justify-content: space-between;
			display: flex;
			position: relative;

			label {
				@include label;

				align-items: center;
				display: flex;
				line-height: inherit;
			}

			input[type="checkbox"],
			input[type="radio"] {
				margin: 0;
				padding: 0;
				cursor: pointer;

				@include ltr {
					margin-right: var(--wcapf-checkbox-radio-space);
				}

				@include rtl {
					margin-left: var(--wcapf-checkbox-radio-space);
				}
			}
		}
	}

	// The focus style of native checkbox and radio.
	&:not(.stylish-checkbox-radio) {
		li.wcapf-filter-option {
			input[type="checkbox"],
			input[type="radio"] {
				outline: none;

				&:focus-visible {
					outline-offset: 2px;
					outline: 2px solid var(--wcapf-primary-color);
				}
			}
		}
	}
}

.wcapf-filter .wcapf-list-wrapper.display-type-label {
	margin-bottom: calc(var(--wcapf-labeled-nav-margin) * -1);

	li.wcapf-filter-option {
		display: inline-flex;

		@include ltr {
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
		}

		@include rtl {
			margin: 0 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin);
		}

		.wcapf-filter-item {
			position: relative;
			display: flex;

			label {
				@include label;

				display: flex;
				line-height: var(--wcapf-labeled-nav-line-height);
			}

			.wcapf-filter-item-label {
				background-color: var(--wcapf-labeled-nav-bg-color);
				border: var(--wcapf-labeled-nav-border-size) solid var(--wcapf-labeled-nav-border-color);
				border-radius: var(--wcapf-labeled-nav-border-radius);
				padding: var(--wcapf-labeled-nav-vr-padding) var(--wcapf-labeled-nav-hr-padding);
				user-select: none;
			}

			input[type="checkbox"],
			input[type="radio"] {
				position: absolute;
				opacity: 0;
				font-size: 0;
				width: 0;
				height: 0;

				&:focus-visible ~ .wcapf-filter-item-label {
					outline: 2px solid var(--wcapf-primary-color);
					outline-offset: 2px;
				}

				&:checked ~ .wcapf-filter-item-label {
					background-color: var(--wcapf-primary-color);
					border-color: var(--wcapf-primary-color);
					color: var(--wcapf-primary-accent-color);
				}
			}
		}
	}
}

.wcapf-list-wrapper {
	&:not(.display-type-color):not(.display-type-image) {
		.wcapf-nav-item-count {
			opacity: var(--wcapf-filter-count-opacity);

			&::before {
				content: ' (';
			}

			&::after {
				content: ')';
			}
		}
	}
}

.wcapf-dropdown-wrapper {
	select {
		width: 100%;
	}

	.wcapf-chosen-container {
		width: 100% !important; // Important is required to make the 'chosen' element full-width.

		// Hierarchy design.
		.chosen-results {
			li {
				@for $i from 2 through 5 {
					&.depth-#{$i} {
						$j: $i - 1;

						@include ltr {
							padding-left: calc(calc(var(--wcapf-chosen-dropdown-item-hr-padding) + .875em) * #{$j});
						}

						@include rtl {
							padding-right: calc(calc(var(--wcapf-chosen-dropdown-item-hr-padding) + .875em) * #{$j});
						}
					}
				}
			}
		}
	}
}

.wcapf-range-wrapper {
	.range-values {
		> span {
			align-items: center;
			display: inline-flex; // Remove extra whitespace between span elements
			white-space: nowrap;
		}
	}

	input[type="text"] {
		@include input_text;
	}

	.justify-center {
		text-align: center;
	}

	.justify-between {
		align-items: center;
		display: flex;
		justify-content: space-between;
		gap: 0.625em;

		&.display-values-as-plain_text {
			.wcapf-range-separator {
				display: none;
			}
		}
	}

	.display-values-as-input_field {
		.wcapf-range-start,
		.wcapf-range-end {
			position: relative;
		}

		.wcapf-range-unit {
			position: absolute;
		}

		@mixin unit-left {
			input[type="text"],
			input[type="number"] {
				text-align: right;
				padding-left: var(--wcapf-range-filter-unit-size);
				padding-right: calc(var(--wcapf-input-text-hr-padding) * 1.2);
			}

			.wcapf-range-unit {
				left: .75em;
			}
		}

		@mixin unit-right {
			input[type="text"],
			input[type="number"] {
				text-align: left;
				padding-right: var(--wcapf-range-filter-unit-size);
				padding-left: calc(var(--wcapf-input-text-hr-padding) * 1.2);
			}

			.wcapf-range-unit {
				right: .75em;
			}
		}

		&.unit-position-left {
			@include ltr {
				@include unit-left;
			}

			@include rtl {
				@include unit-right;
			}
		}

		&.unit-position-right {
			@include ltr {
				@include unit-right;
			}

			@include rtl {
				@include unit-left;
			}
		}
	}
}

.wcapf-range-slider {
	padding-bottom: var(--wcapf-range-slider-bottom-padding);

	.display-values-as-input_field {
		margin-bottom: var(--wcapf-nouislider-input-field-margin-bottom);
	}

	.display-values-as-plain_text {
		margin-bottom: var(--wcapf-nouislider-plain-text-margin-bottom);
	}
}

a.wcapf-reset-filters-btn {
	cursor: pointer;
}

.wcapf-active-filters {
	h5 {
		font-size: 1em;
		margin: 0 0 .5em;
	}

	.wcapf-active-filter-group {
		margin: 0 0 var(--wcapf-active-filters-group-bottom-margin);
	}

	.active-items {
		margin: 0 0 calc(var(--wcapf-labeled-nav-margin) * -1);

		> .item {
			@include label;

			border: var(--wcapf-labeled-nav-border-size) solid var(--wcapf-filter-outline-color);
			border-radius: var(--wcapf-labeled-nav-border-radius);
			margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
			padding: var(--wcapf-active-filters-nav-vr-padding) var(--wcapf-active-filters-nav-hr-padding);

			&::after {
				content: '\00D7';
				margin: 0 0 0 5px;
			}
		}

		.empty-filter-message {
			border-color: transparent;
			cursor: unset;
			padding-left: unset;
			padding-right: unset;

			&::after {
				content: none;
			}
		}
	}

	&.active-filter-layout-simple ~ .clear-all-button-wrapper {
		display: inline-block;
		margin-top: var(--wcapf-clear-all-btn-top-margin);
	}
}
