@import "../mixins";

.hierarchy-list {
	.wcapf-filter-item {
		--wcapf-accordion-toggle-width: 1px;
		--wcapf-hierarchy-accordion-button-hr-space: .4em;
		--wcapf-hierarchy-accordion-button-size: 22px;
		--wcapf-hierarchy-accordion-toggle-color: #666;
		--wcapf-hierarchy-accordion-toggle-size: 13px;
	}

	&:not(.hierarchy-toggle-at-end) {
		.wcapf-filter-item {
			@include ltr {
				padding-right: calc(var(--wcapf-hierarchy-accordion-button-size) + var(--wcapf-hierarchy-accordion-button-hr-space));
			}

			@include rtl {
				padding-left: calc(var(--wcapf-hierarchy-accordion-button-size) + var(--wcapf-hierarchy-accordion-button-hr-space));
			}
		}
	}
}

.wcapf-hierarchy-accordion-toggle {
	border-radius: 2px;
	cursor: pointer;
	height: var(--wcapf-hierarchy-accordion-button-size);
	user-select: none;
	width: var(--wcapf-hierarchy-accordion-button-size);

	&::before,
	&::after {
		background-color: var(--wcapf-hierarchy-accordion-toggle-color);
		content: '';
		position: absolute;
	}

	&::before {
		height: var(--wcapf-hierarchy-accordion-toggle-size);
		left: 50%;
		margin-left: calc(calc(var(--wcapf-accordion-toggle-width) / 2) * -1);
		margin-top: calc(calc(var(--wcapf-hierarchy-accordion-toggle-size) / 2) * -1);
		top: 50%;
		width: var(--wcapf-accordion-toggle-width);
	}

	&::after {
		height: var(--wcapf-accordion-toggle-width);
		left: 50%;
		margin-left: calc(calc(var(--wcapf-hierarchy-accordion-toggle-size) / 2) * -1);
		margin-top: calc(calc(var(--wcapf-accordion-toggle-width) / 2) * -1);
		top: 50%;
		width: var(--wcapf-hierarchy-accordion-toggle-size);
	}

	&[aria-pressed="true"] {
		&::before {
			content: none;
		}
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid var(--wcapf-primary-color);
		outline-offset: 2px;
	}
}

.hierarchy-list {
	&:not(.hierarchy-toggle-at-end) {
		.wcapf-filter-item {
			align-items: center;
			gap: var(--wcapf-hierarchy-accordion-button-hr-space);
		}

		.wcapf-hierarchy-accordion-toggle {
			position: relative;
		}
	}

	&.hierarchy-toggle-at-end {
		.wcapf-hierarchy-accordion-toggle {
			margin-top: calc(calc(var(--wcapf-hierarchy-accordion-button-size) / 2) * -1);
			position: absolute;
			top: 50%;

			@include ltr {
				right: 0;
			}

			@include rtl {
				left: 0;
			}
		}
	}
}
