@import "../mixins";

.wcapf-range-wrapper {
	&:not(.wcapf-range-spinbox) {
		.range-values {
			> span {
				align-items: center;
				display: inline-flex; // Remove extra whitespace between span elements
				white-space: nowrap;
			}
		}
	}

	&.wcapf-range-spinbox {
		.range-values {
			.wcapf-range-start,
			.wcapf-range-end {
				flex: 1;
			}

			.wcapf-range-separator {
				align-items: center;
				display: inline-flex; // Remove extra whitespace between span elements
				white-space: nowrap;
			}
		}
	}

	input[type="number"],
	input[type="text"] {
		width: 100%;
	}

	.justify-center {
		display: flex;
		justify-content: center;
	}

	.justify-between {
		align-items: center;
		display: flex;
		gap: 0.625em;
		justify-content: space-between;

		&.display-values-as-plain_text {
			.wcapf-range-separator {
				display: none;
			}
		}
	}

	.display-values-as-input_field {
		.wcapf-range-start,
		.wcapf-range-end {
			position: relative;
		}

		.wcapf-range-unit {
			position: absolute;
		}

		@mixin unit-left {
			input[type="text"],
			input[type="number"] {
				text-align: right;
				padding-left: var(--wcapf-range-filter-unit-size);
				padding-right: calc(var(--wcapf-input-text-hr-padding) * 1.2);
			}

			.wcapf-range-unit {
				left: .75em;
			}
		}

		@mixin unit-right {
			input[type="text"],
			input[type="number"] {
				text-align: left;
				padding-right: var(--wcapf-range-filter-unit-size);
				padding-left: calc(var(--wcapf-input-text-hr-padding) * 1.2);
			}

			.wcapf-range-unit {
				right: .75em;
			}
		}

		&.unit-position-left {
			@include ltr {
				@include unit-left;
			}

			@include rtl {
				@include unit-right;
			}
		}

		&.unit-position-right {
			@include ltr {
				@include unit-right;
			}

			@include rtl {
				@include unit-left;
			}
		}
	}
}

.wcapf-range-slider {
	padding-bottom: var(--wcapf-range-slider-bottom-padding);

	.display-values-as-input_field {
		margin-bottom: var(--wcapf-nouislider-input-field-margin-bottom);
	}

	.display-values-as-plain_text {
		margin-bottom: var(--wcapf-nouislider-plain-text-margin-bottom);
	}
}
