@import "../mixins";

.wcapf-filter {
	&.search-active .wcapf-search-box.with-cross .wcapf-search-icon {
		> svg {
			display: none;
		}
	}

	&:not(.search-active) .wcapf-search-box.with-cross {
		.wcapf-clear-state {
			display: none;
		}
	}

	.wcapf-search-box:not(.with-cross) .wcapf-clear-state {
		display: none;
	}

	.wcapf-search-box {
		margin-bottom: var(--wcapf-search-box-margin-bottom);

		input[type="text"] {
			width: 100%;
		}

		.wcapf-clear-state {
			@include button;

			align-items: center;
			border-radius: 2px;
			display: inline-flex;
			height: 100%;
			justify-content: center;
			width: 100%;

			&:focus-visible {
				background: transparent;
				color: var(--wcapf-primary-color);
				outline: solid var(--wcapf-primary-color);
				outline-offset: 0;
				outline-width: 2px;
			}
		}

		&.with-icon {
			position: relative;

			.wcapf-search-icon {
				align-items: center;
				bottom: 0;
				color: #777;
				display: inline-flex;
				justify-content: center;
				padding: .4em;
				position: absolute;
				top: 0;
				width: 2.4em;

				svg {
					height: 1em;
					width: 1em;
				}
			}

			@mixin icon-left {
				.wcapf-search-icon {
					left: 0;
				}

				input[type="text"] {
					padding-left: 2.4em;
				}
			}

			@mixin icon-right {
				.wcapf-search-icon {
					right: 0;
				}

				input[type="text"] {
					padding-right: 2.4em;
				}
			}

			&.icon-left {
				@include ltr {
					@include icon-left;
				}

				@include rtl {
					@include icon-right;
				}
			}

			&.icon-right {
				@include ltr {
					@include icon-right;
				}

				@include rtl {
					@include icon-left;
				}
			}
		}
	}

	&.search-active {
		.wcapf-list-wrapper {
			.wcapf-filter-options {
				.wcapf-filter-option {
					&:not(.keyword-matched) {
						display: none;
					}
				}
			}
		}
	}

	.wcapf-no-results-text {
		span {
			text-decoration: underline;
		}
	}
}
