.wcapf-before-products {
	position: relative;
	z-index: 100;

	.wcapf-shop-loop-loading {
		background-color: var(--wcapf-results-container-loading-bg-color);
		//noinspection CssUnknownTarget
		background-image: url('../../assets/images/loader.gif');
		background-position: 50% 10%;
		background-repeat: no-repeat;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1000;
	}
}

.wcapf-results-loading {
	position: relative;

	.wcapf-shop-loop-loading {
		background-color: var(--wcapf-results-loading-body-bg-color);
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 1000;

		.loading-img {
			$size: 120px;

			//noinspection CssUnknownTarget
			background-image: url('../../assets/images/loader.gif');
			background-repeat: no-repeat;
			height: $size;
			left: 50%;
			margin-left: -#{$size / 2};
			margin-top: -#{$size / 2};
			position: absolute;
			top: 50%;
			width: $size;
		}
	}
}
