// Onepress theme
body.theme-onepress {
	.wcapf-filter .wcapf-search-box input[type="text"],
	.wcapf-range-wrapper input[type="text"]:focus {
		border: 1px solid var(--wcapf-input-text-border-color) !important;
	}

	.wcapf-chosen-container.chosen-container-single .chosen-search input[type="text"]:focus {
		border: var(--wcapf-chosen-search-input-border-size) solid var(--wcapf-chosen-search-input-border-color) !important;
	}
}

// Astra theme
body.theme-astra {
	// Native select
	#secondary .wcapf-filter .wcapf-list-wrapper.list-type-native ul.wcapf-filter-options li.wcapf-filter-option {
		margin-bottom: var(--wcapf-layered-nav-list-vertical-spacing);
	}

	#secondary .wcapf-filter .wcapf-list-wrapper ul.wcapf-filter-options li.wcapf-filter-option {
		line-height: inherit;
	}

	// Display type label
	&:not(.rtl) #secondary .wcapf-filter .wcapf-list-wrapper.display-type-label li.wcapf-filter-option {
		margin: 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin) 0;
	}

	&.rtl #secondary .wcapf-filter .wcapf-list-wrapper.display-type-label li.wcapf-filter-option {
		margin: 0 0 var(--wcapf-labeled-nav-margin) var(--wcapf-labeled-nav-margin);
	}

	// Combobox dropdown
	#secondary .wcapf-chosen-container.chosen-container .chosen-results li {
		margin: 0;
	}

	// Swatch
	&:not(.rtl) #secondary .wcapf-filter .wcapf-list-wrapper.display-type-image li.wcapf-filter-option,
	&:not(.rtl) #secondary .wcapf-filter .wcapf-list-wrapper.display-type-color li.wcapf-filter-option {
		margin: 0 var(--wcapf-swatch-gap) var(--wcapf-swatch-gap) 0;
	}

	&.rtl #secondary .wcapf-filter .wcapf-list-wrapper.display-type-image li.wcapf-filter-option,
	&.rtl #secondary .wcapf-filter .wcapf-list-wrapper.display-type-color li.wcapf-filter-option {
		margin: 0 0 var(--wcapf-swatch-gap) var(--wcapf-swatch-gap);
	}
}
