@import "./scss/editor";

#wcapf-filter-admin-ui {
	margin-left: -20px;
	padding: 20px;
}

#wpbody-content {
	padding-bottom: 0;
}

#wpfooter {
	display: none;
}

body {
	background-color: #ffffff;
}
