/*
 * Common styles
 */
/*
 * Animations
 */
/**********
 * Fade In
 ***********/
.iks-fade-in {
  animation: fadeIn 300ms;
}

.iks-fade-in-zoom {
  animation: fadeInZoom 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInZoom {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/*
 * Common: Highlight styles
 */
.iks-highlight {
  animation: highlightZoom 700ms linear, highlight 700ms linear;
}

@keyframes highlightZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes highlight {
  0% {
    background-color: blue;
  }
  33% {
    background-color: unset;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: unset;
  }
}
.iks-view {
  display: flex;
  flex-direction: column;
}
.iks-view.inline {
  display: flex;
  flex-direction: row;
}

.iks-absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
