@import './scss/core';
@import './scss/variables';
@import './scss/list-table';
@import './scss/form-fields';
@import './scss/pro-tag';
@import './scss/available-filters';
@import './scss/responsive-list-table';
@import './scss/top-bar';
@import './scss/sidebar';
@import './scss/action-modal';
@import './scss/publish-modal';

.__import_data {
	min-height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.dashicon {
		width: 40px;
		height: 40px;
		font-size: 40px;
		color: #babbbc;
	}

	h3 {
		font-weight: 500;
	}

	p {
		margin: 0 0 2em;
	}
}

.__add_filter_modal {
	max-width: 700px;
	width: 100%;

	.components-modal__content {
		padding: 32px;
	}

	.__loader {
		text-align: center;
		margin: 4em 0;

		svg {
			width: 32px;
			height: 32px;
		}
	}

	.__heading {
		text-align: center;
		font-weight: 500;
		margin-top: 0;
	}

	.__step_inner {
		margin: 2.5em 0;
	}

	.__title_step {
		.components-text-control__input {
			font-size: 1.7em;
			height: 40px;
			max-width: unset;
			padding: 3px 8px;
		}
	}

	.__stepper {
		display: flex;
		flex: 1;
		justify-content: center;

		._dots {
			span {
				width: 12px;
				height: 12px;
				margin: 0 4px;
				background-color: rgba(0, 0, 0, 0.15);
				border-radius: 50%;
				display: inline-block;

				&.active {
					background-color: var(--wp-admin-theme-color);
				}
			}
		}
	}

	.__left,
	.__right {
		width: 80px;
	}

	.__right {
		display: flex;
		justify-content: flex-end;
	}

	.__filter_response {
		text-align: center;

		h4 {
			font-weight: 500;
			font-size: 1.2em;
		}

		svg {
			fill: none;
			stroke: $successCheckColor;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			width: 100px;
			height: 100px;
		}

		._buttons {
			display: flex;
			gap: 4px;
			justify-content: center;
			margin: 2em 0 1em;
		}
	}
}
