.__list_table_loading {
	margin: 1.5em 0;
}

.__list_table_search {
	display: flex;
	gap: 1.5em;
	margin: 1.5em 0;

	.__search_box {
		.components-search-control__input-wrapper {
			.components-search-control__input {
				background-color: #fff;
				height: 36px;
			}
		}

		.components-base-control__field {
			margin: 0;
		}
	}
}

p.__list_table_results_count {
	margin: 1em 0;
}

table.__list_table {
	border: none;
	box-shadow: rgb(0 0 0 / 3%) 0px 0px 0px 1px;

	.row-title {
		font-weight: 500;
	}

	.__post_id {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.3);
	}

	.__actions_row {
		width: 190px;
	}

	.__component_extra {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.3);
	}
}
