.__available_filters {
	margin-bottom: 1.5em;

	.__inner {
		padding: 10px 0 6px;
	}

	.__filters::before,
	.__filters::after {
		clear: both;
		content: '';
		display: table;
	}

	.__filters {
		margin-top: 10px;

		.__item {
			border-radius: 0;
			border: 1px solid #e2e2e2;
			// color: #1d2327;
			// color: #3c434a;
			// cursor: pointer;
			float: left;
			font-weight: 500;
			margin: 0 10px 10px 0;
			padding: 0 10px;

			&:disabled {
				// cursor: default;
				opacity: 1;
				color: $inputDisabledColor;
			}

			&:focus {
				// color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				box-shadow: none;
				outline-color: var(--wp-admin-theme-color);
				outline-style: solid;
				outline-width: 1px;
			}

			&.active {
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				color: #fff;
			}
		}
	}
}
