.__available_filters {
	margin-bottom: 1.5em;

	.__inner {
		padding: 10px 0 6px;
	}

	.__filters::before,
	.__filters::after {
		clear: both;
		content: '';
		display: table;
	}

	.__filters {
		margin-top: 10px;

		.__item {
			border-radius: 0;
			border: 1px solid #e2e2e2;
			font-weight: 500;
			padding: 0 10px;

			&:disabled {
				opacity: 1;
				color: $inputDisabledColor;
			}

			&:focus {
				border-color: var(--wp-admin-theme-color);
				box-shadow: none;
				outline-color: var(--wp-admin-theme-color);
				outline-style: solid;
				outline-width: 1px;
			}

			&.active {
				background-color: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				color: #fff;
			}
		}
	}
}

body {
	&:not(.rtl) {
		.__available_filters {
			.__filters {
				.__item {
					float: left;
					margin: 0 10px 10px 0;
				}
			}
		}
	}

	&.rtl {
		.__available_filters {
			.__filters {
				.__item {
					float: right;
					margin: 0 0 10px 10px;
				}
			}
		}
	}
}
