body {
	&.auto-fold #wpcontent,
	#wpcontent {
		padding-left: 0;
		padding-right: 0;
	}

	#wpbody-content {
		padding-bottom: 0;
	}

	#wpfooter {
		display: none;
	}

	.__wcapf_layout {
		padding: var(--large-gap);
	}
}

.__main {
    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 40px;
    }
}

/**
* Snacbar styles.
*/
.components-snackbar-list {
	width: auto;
	position: fixed;
	bottom: 20px;
	z-index: 100100;

	.components-snackbar {
		box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
			0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
	}
}

// Snackbar RTL Styles.
body {
    &:not(.rtl) {
        .components-snackbar-list {
			right: 20px;
		}
    }

    &.rtl {
        .components-snackbar-list {
			left: 20px;
		}
    }
}
