@import './variables';
@import './mixins';

// Custom Appearance Modal Button.
.components-button.__custom_appearance_modal_btn {
    height: 30px;
    margin: 0 0 0 10px;
}

.__custom_appearance_modal {
    @include fixed-height-modal;

    .wp-list-table {
        th {
            &.__term {
                @media (max-width: 599px) {
                    width: 30%;
                }
            }
        }

        .__term {
            .__info {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .__responsive_table {
        @include responsive-table;

        &.color {
            table {
                min-width: 400px;
            }
        }
    }

    .__color_picker_button,
    .__color_picker_clear_button {
        height: 30px;
        font-size: 11px;
        border-radius: 3px;
        border: 1px solid var(--wp-admin-theme-color);
        background-color: transparent;
        color: #50575e;
        cursor: pointer;

        &:focus {
            border-color: var(--wp-admin-theme-color);
            box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
            outline: 2px solid transparent;
        }
    }

    .__color_picker_button {
        padding: 0 0 0 30px;

        .__select_button {
            background: #f6f7f7;
            border-left: 1px solid #c3c4c7;
            display: block;
            line-height: 2.54545455;
            padding: 0 6px;
            text-align: center;
        }
    }

    .__color_picker_clear_button {
        padding: 0 8px;
        margin: 0 0 0 4px;
    }

    .__color_picker_wrapper {
        margin-top: 10px;
    }

    .striped>tbody {
        &>:nth-child(odd) {
            .components-color-picker {
                background: #fff;
            }
        }

        &>:nth-child(even) {
            .components-color-picker {
                background: #f6f7f7;
            }
        }
    }

    td.__image {
        @include image-picker;
    }

    .__table_header {
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;

        @media (min-width: 768px) {
            align-items: flex-end;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 1em;
        }

        .__search_box {
            .components-base-control__field {
                margin: 0;

                .components-search-control__input {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    height: 38px;
                }
            }
        }
    }

    .large-data-hint {
        font-weight: 500;
        font-style: italic;
        margin-top: 1em;
    }
}

// RTL Styles.
body.rtl {
    .components-button.__custom_appearance_modal_btn {
        margin: 0 10px 0 0;
    }

    .__custom_appearance_modal .__color_picker_clear_button {
        margin: 0 4px 0 0;
    }
}
