.__edit_filter {
	--vr-padding: 16px;
	--hr-padding: 24px;

	.__content {
		background-color: rgb(255, 255, 255);
		position: relative;
		box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
		outline: none;
		border-radius: 1px;

		.__tab_panel {
			margin-top: 0;
		}
	}

	.__preview_card {
		.components-card-header {
			justify-content: flex-start;
			gap: 8px;

			h2 {
				font-size: 1.7em;
				font-weight: 500;
				line-height: 1;
				margin: 3px 0;
			}
		}
	}
}
