@import './variables';
@import './mixins';

.__edit_filter {
	.__edit_filter_from {
		background-color: #fff;

		.__title_wrapper {
			padding: 2.5em var(--large-gap) 1em;
			border-bottom: none;
		}

		.__form_tab_panel {
			>.components-tab-panel__tabs {
				background: none;
				box-shadow: 0 10px 10px rgb(0 0 0 / 2%);
			}

			>.components-tab-panel__tab-content {
				.__loader {
					@include loader;
				}
			}
		}
	}

	.__preview_card {
		background-color: #fff;

		.__inner {
			padding: var(--large-gap);
		}

		.__preview_label {
			font-size: 30px;
			font-weight: 500;
			line-height: 1;
			margin: 0 0 1em;
		}
	}

	@media (min-width: 1240px) {
		--preview-size: 400px;

		.__preview_card {
			position: fixed;
			top: 32px;
			width: var(--preview-size);
			height: 100%;

			.__inner {
				padding: 50px;
			}
		}

		@include ltr {
			.__edit_filter_from {
				margin-right: var(--preview-size);
			}

			.__preview_card {
				box-shadow: inset 10px 0 30px rgb(0 0 0 / 5%);
				right: 0;
			}
		}

		@include rtl {
			.__edit_filter_from {
				margin-left: var(--preview-size);
			}

			.__preview_card {
				box-shadow: inset -10px 0 30px rgb(0 0 0 / 5%);
				left: 0;
			}
		}
	}

	@media (max-width: 1239px) {
		.__preview_card {
			box-shadow: inset 0 10px 30px rgb(0 0 0 / 5%);
		}
	}
}
