@import './mixins';

.__no_filters_found {
	text-align: center;
}

.__filters_drop_zone {
	.__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5em;

		.__label {
			font-weight: 500;
			margin: 0;
		}

		.__add_filter_btn {
			padding: 0;
			height: 34px;
			width: 34px;
			justify-content: center;

			svg {
				transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
			}

			&.active,
			&.active:hover {
				background-color: #1e1e1e;
			}

			&.active svg {
				transform: rotate(45deg);
			}
		}
	}

	.__remove_all_btn {
		margin-top: 1.5em;
	}
}

.__available_filters_wrapper {
	margin-bottom: 2em;
}

.__available_filters_dropdown {
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	max-height: 163px;
	margin-bottom: 1em;

	.__item {
		align-items: center;
		border-bottom: 1px solid #e2e2e2;
		display: flex;
		justify-content: space-between;
		padding: 10px;
		user-select: none;

		&.active {
			background-color: #f6f7f7;
		}

		&:last-child {
			border-bottom: none;
		}

		@include ltr {
			border-right: 1px solid #e2e2e2;
		}

		@include rtl {
			border-left: 1px solid #e2e2e2;
		}
	}

	@include post-title-with-info;

	.__btn_wrapper {
		display: inline-flex;
		align-items: center;

		.components-button {
			padding: 0;
			height: 20px;
		}
	}
}

.__form_filters {
	.__item {
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
		color: #1d2327;
		font-size: 13px;
		line-height: 1.4em;

		&:not(:last-child) {
			margin: 0 0 10px;
		}
	}

	.__accordion_body {
		border-top: 1px solid #ddd;
		padding: 15px;

		.__override_info {
			margin: 0 0 2em;
		}

		.__action_buttons {
			margin-top: 1.5em;
		}
	}

	.__top {
		align-items: center;
		display: flex;
		gap: 8px;
		justify-content: space-between;
		padding: 10px 15px;
		user-select: none;

		.__tt {
			display: flex;
			gap: 8px;
			align-items: center;

			.__drag_handle_wrapper {
				display: inline-flex;
			}
		}

		.__drag_handler {
			cursor: grab;
		}

		@include post-title-with-info;

		.__accordion_toggle_button {
			display: inline-flex;

			.components-button {
				border-radius: 100%;
				padding: 0;
			}
		}
	}
}

.__filter_settings {

	// In filter settings we don't show the field description,
	// that's why we don't need the extra space for smaller devices.
	.__form_control .__inner .__input_wrapper {
		margin: 0;
	}
}
