.__filters_drop_zone {
	// background-color: #e8e9ec;
	// background-color: #f6f8fa;
	// padding: 2em;
	// border: 1px solid hsla(210,18%,87%,1);

	.__fz_item {
		// background-color: #fff;
		// background-color: #f6f7f7;
		border: 1px solid #ddd;
		box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
		color: #1d2327;
		font-size: 13px;
		// font-weight: 600;

		line-height: 1.4em;

		&:not(:last-child) {
			margin: 0 0 10px;
		}

		button {
			padding: 0;
		}

		.__fz_mover {
			button {
				height: 10px;
			}
		}

		.__inner {
			border-top: 1px solid #ddd;
			padding: 15px;
		}
	}

	.__fz_add_filter_btn {
		&.active,
		&.active:hover {
			background-color: #1e1e1e;
		}

		svg {
			transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
		}

		&.active svg {
			transform: rotate(45deg);
		}
	}
}

.__available_filters_dropdown {
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

	.__item {
		border-bottom: 1px solid #e2e2e2;
	}

	.__item:last-child {
		border-bottom: none;
	}
}

.__dropdown_filters {
	display: flex;
	gap: .5em;
	margin: 1em 0 2em;
}
