@import './variables';

.__filter_ui_tab_panel {
	padding: 2em;

	@media (min-width: 768px) {
		display: flex;
		max-width: 80em;
		margin: 0 auto;
		gap: 2em;
		align-items: flex-start;
	}

	.components-tab-panel__tabs {
		@media (min-width: 768px) {
			width: 150px;
		}

		@media (min-width: 1366px) {
			width: 190px;
		}

		@media (max-width: 767px) {
			flex-direction: row;
			margin-bottom: 1.5em;
		}

		border: none;
		box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
		padding: 0;

		.components-tab-panel__tabs-item {
			@media (max-width: 599px) {
				font-size: 13px;
				padding-left: 8px;
				padding-right: 8px;
				height: 42px;
			}

			&:focus {
				@media (min-width: 768px) {
					box-shadow: inset 3px 0 0 0 var(--wp-admin-theme-color);
				}

				@media (max-width: 767px) {
					box-shadow: inset 0 -3px var(--wp-admin-theme-color);
				}
			}

			&.active-tab {
				background-color: #f5f5f5;

				@media (min-width: 768px) {
					box-shadow: inset 3px 0 0 0 var(--wp-admin-theme-color);
				}

				@media (max-width: 767px) {
					box-shadow: inset 0 -3px var(--wp-admin-theme-color);
				}
			}

			&.active-tab {
				// animation: highlightZoom 700ms linear, highlight 700ms linear;
				// animation: highlight 700ms linear;
			}

			@keyframes highlightZoom {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.1);
				}
				100% {
					transform: scale(1);
				}
			}
			@keyframes highlight {
				0% {
					background-color: var(--wp-admin-theme-color);
				}
				33% {
					background-color: unset;
				}
				66% {
					background-color: var(--wp-admin-theme-color);
				}
				100% {
					background-color: unset;
				}
			}
		}
	}

	.components-tab-panel__tab-content {
		flex: 1;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		padding: 2em;
	}
}

.__filter_settings_panel {
	.components-panel__header {
		h2 {
			color: #1d2327;
			font-size: 14px;
			font-weight: 500;
		}
	}

	.components-panel__row {
		width: 100%;
	}
}

// TODO: Maybe remove.
.number-ui-optionsd {
	.cols-wrapper {
		display: flex;

		.__form_control {
			.__inner {
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}
