@import './variables';

.__form_control {
	margin: 0 0 2em;

	.__inner {
		display: flex;
		min-height: 30px;
		gap: 15px;
	}

	.__label {
		width: 150px;

		label {
			font-weight: 500;
		}
	}

	@media (max-width: 767px) {
		.__inner {
			flex-direction: column;
		}
	}

	.__wrapper {
		flex: 1;
	}

	.description {
		margin-top: 8px;
	}

	.components-text-control__input {
		max-width: 220px;
	}

	.components-text-control__input,
	.components-checkbox-control__input,
	.components-radio-control__input {
		border-color: $inputBorderColor;
	}

	// react-dropdown-select
	.__styled_select_control {
		min-height: 30px;
		border-color: $inputBorderColor;
		transition: box-shadow 0.1s linear;
		width: 150px;
		padding-left: 8px;

		&:hover {
			border-color: $inputBorderColor;
		}

		&:focus,
		&:focus-within {
			border-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
			outline: 2px solid transparent;
		}

		.react-dropdown-select-input:read-only {
			background-color: transparent;
		}

		@media (min-width: 600px) {
			.react-dropdown-select-input {
				font-size: 13px;
				line-height: normal;
			}
		}

		.react-dropdown-select-content {
			.react-dropdown-select-input:only-child {
				margin-left: 0;
			}
		}

		.react-dropdown-select-separator {
			height: 20px;
		}
	}

	// react_select
	&.react_select {
		@media (min-width: 768px) {
			.__custom_react_select {
				&.full-width {
					max-width: 95%;
				}

				&.fixed-width {
					max-width: 300px;
				}
			}
		}
	}

	// Radio
	.radio-group {
		&:not(.radio-group-vertical) {
			.components-radio-control__option {
				display: inline;

				&:not(:last-child) {
					margin: 0 10px 0 0;
				}
			}
		}

		&.radio-group-vertical {
			.components-radio-control__option {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
	}

	// Checkbox
	&.__checkbox_toggle {
		.components-base-control__field {
			margin: 0;
		}
	}

	#soft_limit {
		max-width: 60px;
	}

	// Button Group
	.components-button-group {
		.components-button {
			height: 30px;

			&:not(:focus) {
				box-shadow: inset 0 0 0 1px $inputBorderColor;

				&.is-primary {
					box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color);
				}
			}
		}
	}

	// Disabled State.
	.components-radio-control__option {
		&.disabled {
			input,
			label {
				cursor: default;
			}

			label {
				color: $inputDisabledColor;
			}
		}
	}

	// Listbox
	.__form_input_listbox {
		max-width: 200px;
		width: 100%;
		border: 1px solid $inputBorderColor;
		border-radius: 2px;
		padding: 2px;

		.__item {
			padding: 2px 8px;
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 1px solid #fff;
			}

			&:focus,
			&:hover {
				background: rgba(0, 116, 217, 0.1);
			}

			&.active {
				background: var(--wp-admin-theme-color);
				color: #fff;
			}
		}
	}

	// Number
	&.number {
		.components-text-control__input {
			max-width: 100px;
		}
	}

	// Custom select control
	.__custom_select_control_wrapper {
		display: inline-flex;

		.__custom_select_control {
			.components-custom-select-control__item {
				display: flex;
			}

			&.date_display_type,
			&.number_display_type {
				.components-custom-select-control__button {
					min-width: 200px;
				}
			}
		}
	}

	// Custom Appearance Button.
	.__custom_appearance_wrapper {
		display: inline-flex;
		margin: 0 0 0 10px;

		.components-button {
			height: 30px;
		}
	}
}

// Overrides for display type field.
.__form_control {
	&.display-type {
		.__inner {
			align-items: flex-start;
		}

		.__label {
			min-height: 30px;
			display: inline-flex;
			align-items: center;
		}

		.__wrapper .__input_wrapper {
			display: flex;
			flex-direction: column;
			gap: 14px;

			.components-radio-control__option {
				margin: 0;
			}

			.__row1,
			.__row2 {
				display: flex;
				gap: 15px;
			}
		}
	}
}

// Filter Key field.
.__form_control {
	&.__filter_key {
		.__input_wrapper {
			display: flex;
			align-items: center;
		}

		.components-spinner {
			margin-top: 0;
		}
	}
}

// Number min, max fields with auto detect.
.__form_control {
	&.with-checkbox {
		.__input_wrapper {
			display: flex;
			gap: 12px;

			.checkbox-wrapper {
				display: flex;
				align-items: center;

				.components-checkbox-control {
					.components-base-control__field {
						margin: 0;
					}
				}
			}
		}
	}
}

// Custom Select Control.
.__custom_select_control {
	.components-custom-select-control__button {
		background-color: #fff;
		border-color: $inputBorderColor;
		font-size: unset;
	}

	.components-custom-select-control__menu {
		margin: 5px 0;
		border-color: $inputBorderColor;

		.components-custom-select-control__item {
			padding: 1px 8px;
			margin: 0;
		}
	}
}

// Custom react select.
.__custom_react_select {
	.__react_select__control {
		border-radius: 2px;
	}

	.__react_select__control,
	.__react_select__indicator-separator,
	.__react_select__dropdown-indicator {
		border-color: $inputBorderColor;
	}

	.__react_select__input {
		min-height: unset;
	}

	.__react_select__input,
	.__react_select__input:focus {
		box-shadow: none;
	}

	.__react_select__value-container--is-multi {
		.__react_select__multi-value__label {
			font-size: unset;
		}
	}

	// Style the info in option.
	.__info {
		color: rgba(0, 0, 0, 0.3);
		font-size: 12px;
		margin: 0 0 0 4px;
	}

	.__react_select__option--is-selected {
		.__info {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	// Single Select.
	&.__single_select {
		.__react_select__dropdown-indicator {
			padding: 0 4px;
		}

		.__react_select__control {
			&.__react_select__control--is-focused {
				// border-color: $inputBorderColor;
				border-color: var(--wp-admin-theme-color);

				// &.__react_select__control--menu-is-open {
				// 	box-shadow: none;
					
				// 	.__react_select__single-value {
				// 		color: var(--wp-admin-theme-color);
				// 	}
		
				// 	.__react_select__dropdown-indicator svg {
				// 		fill: var(--wp-admin-theme-color);
				// 	}
				// }

				// &:not(.__react_select__control--menu-is-open) {
				// 	border-color: var(--wp-admin-theme-color);
				// }
			}
		}

		// .__react_select__control:hover {
		// 	border-color: $inputBorderColor;

		// 	.__react_select__single-value {
		// 		color: var(--wp-admin-theme-color);
		// 	}

		// 	.__react_select__dropdown-indicator svg {
		// 		fill: var(--wp-admin-theme-color);
		// 	}
		// }
	}
}
