@import './variables';
@import './mixins';

.__form_control {
	margin: 0 0 2em;

	.__inner {
		display: flex;
		min-height: 30px;
		gap: 15px;
	}

	.__label {
		label {
			font-weight: 500;
		}
	}

	@media (min-width: 768px) {
		.__label {
			width: 180px;
		}
	}

	@media (max-width: 767px) {
		.__inner {
			flex-direction: column;

			.__input_wrapper {
				margin-bottom: 8px;
			}
		}
	}

	.__wrapper {
		flex: 1;
	}

	.description {
		margin-top: 8px;

		b {
			font-weight: 500;
		}
	}

	.__help_info {
		@include help-info;
	}

	.components-text-control__input {
		max-width: 220px;

		&:disabled {
			background-color: $inputDisabledBGColor;
		}
	}

	.components-text-control__input,
	.components-checkbox-control__input,
	.components-radio-control__input,
	.components-textarea-control__input {
		border-color: $inputBorderColor;
	}

	// Textarea
	.components-textarea-control__input {
		font-size: 13px;
		line-height: normal;
		width: 100%;
		padding: 6px 8px;
		box-shadow: transparent 0 0 0;
		transition: box-shadow 0.1s linear 0s;
		border-radius: 2px;
		max-width: 300px;

		&:focus {
			border-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 calc(1.5px - 1px) var(--wp-admin-theme-color);
			outline: transparent solid 2px;
		}
	}

	// Radio
	.radio-group {
		&:not(.radio-group-vertical) {
			.components-radio-control__option {
				display: inline;

				&:not(:last-child) {
					margin: 0 12px 0 0;
				}
			}
		}

		&.radio-group-vertical {
			.components-radio-control__option {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
	}

	@media (max-width: 599px) {

		.remove_empty .__input_wrapper,
		.enable_reduce_height .__input_wrapper {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.components-radio-control__option {
				margin: 0;
			}
		}
	}

	// Checkbox
	&.__checkbox_toggle {
		.components-base-control__field {
			margin: 0;
		}
	}

	&.__horizontal_multi_checkbox {
		.__input_wrapper {
			display: flex;
			gap: 16px;
		}

		.components-base-control__field {
			margin: 0;
		}
	}

	// Button Group
	.components-button-group {
		.components-button {
			height: 28px;
			margin-bottom: -1px;

			&:not(:focus) {
				box-shadow: inset 0 0 0 1px $inputBorderColor;

				&.is-primary {
					box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color);
				}
			}
		}
	}

	// Disabled State.
	.components-radio-control__option {
		&.disabled {

			input,
			label {
				cursor: default;
			}

			label {
				color: $inputDisabledColor;
			}
		}
	}

	// Number
	&.number {
		.components-text-control__input {
			max-width: 100px;
		}
	}

	.components-text-control__input.input-small {
		max-width: 100px;
	}

	// react-select (The simple version like CustomSelectControl).
	&.react_select_simple {
		.__input_wrapper {
			display: flex;

			.__help_info {
				align-items: center;
				display: inline-flex;
				position: unset;
			}

			.display_type,
			.order_terms_by,
			.limit_options,
			.options_order_by,
			.post_author_order_by {
				min-width: 150px;
			}

			.date_display_type,
			.number_display_type {
				min-width: 200px;
			}

			.type,
			.meta_key {
				min-width: 220px;
			}

			.type {
				.__react_select__group:not(.__pro_group):not(.__form_components) {
					padding-bottom: 8px;

					.__react_select__group-heading {
						font-size: 100%;
						font-weight: normal;
						margin-bottom: 8px;
						text-transform: none;
					}
				}
			}

			.filter_on {
				min-width: 220px;
			}

			.form_layout,
			.filter_mode {
				min-width: 150px;
			}

			.form_visibility {
				min-width: 220px;
			}
		}
	}

	// react-select (The ajax dropdown version).
	&.react_select {
		.__input_wrapper {
			margin-bottom: 8px;
		}

		.__include_child_terms {
			margin-top: 1em;

			.components-base-control__field {
				margin: 0;
			}
		}

		@media (min-width: 768px) {
			.__custom_react_select {
				&.full-width {
					max-width: 95%;
				}

				&.fixed-width {
					max-width: 300px;
				}
			}
		}
	}

	// Image Picker.
	&.__image_picker {
		@include image-picker;
	}
}

.__form_fields_separator {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	margin: 2em 0;
}

/**
* React Select
*
* v5.4.0
*/
@mixin react-select-single {
	.__react_select__control {
		&:not(.__react_select__control--is-focused) {
			&:hover {
				border-color: $inputBorderColor;

				.__react_select__single-value {
					color: var(--wp-admin-theme-color);
				}

				.__react_select__dropdown-indicator svg {
					fill: var(--wp-admin-theme-color);
				}
			}
		}
	}

	.__react_select__option {
		&:active {
			background-color: $inputBorderColor;
		}

		.__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&.__react_select__option--is-disabled {
			.__option_label {
				color: hsl(0, 0%, 80%);
			}
		}
	}

	.__react_select__group:not(.__pro_group):not(.__form_components) {
		.__react_select__option {
			@include ltr {
				padding-left: 16px;
			}

			@include rtl {
				padding-right: 16px;
			}
		}
	}

	.__pro_group {
		.__react_select__option {
			.__pro_tag {
				display: none;
			}
		}
	}

	.__react_select__group.__form_components {
		padding-top: 0;
		padding-bottom: 0;

		.__react_select__group-heading {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}

		.__form_components_divider {
			display: block;
			position: relative;
			margin: 8px 0 0;

			&::before {
				background-color: #ddd;
				content: '';
				height: 1px;
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
			}

			.__form_components_heading {
				background-color: #fff;
				display: inline-block;
				padding: 0 8px;
				position: relative;
			}
		}
	}
}

.__custom_react_select {
	.__react_select__control {
		cursor: pointer;
		border-radius: 2px;

		&.__react_select__control--is-focused {
			border-color: var(--wp-admin-theme-color);
		}
	}

	.__react_select__control,
	.__react_select__indicator-separator,
	.__react_select__dropdown-indicator {
		border-color: $inputBorderColor;
	}

	.__react_select__control--is-disabled {
		background-color: $inputDisabledBGColor;

		.__react_select__indicators {
			display: none;
		}
	}

	.__react_select__input {
		min-height: unset;
	}

	.__react_select__input,
	.__react_select__input:focus {
		box-shadow: none;
	}

	.__react_select__placeholder {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.__react_select__value-container--is-multi {
		.__react_select__multi-value__label {
			font-size: unset;
		}
	}

	.__name {
		@include horizontal-space(4px);
	}

	.__info {
		@include info;
	}

	.__react_select__option--is-selected {
		.__info {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	// Single Select.
	&.__single_select {
		@include react-select-single;
	}
}

.__react_select__menu-portal {
	@include react-select-single;
}

.__available_on {
	.__input_wrapper {
		.__locations {
			.__column {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}

			&:not(.support-many) {
				.__custom_react_select {
					&.location {
						max-width: 220px;
					}

					&.sub_location {
						max-width: 300px;
					}
				}
			}

			&.support-many {
				margin-bottom: 10px;

				.__location {
					position: relative;
					max-width: calc(100% - 70px);
					padding: 8px;
					border: 1px solid #ddd;
					margin-bottom: 10px;
					border-radius: 2px;
				}

				.__remove_wrapper {
					position: absolute;
					top: 8px;

					@include ltr {
						right: -40px;

					}

					@include rtl {
						left: -40px;
					}
				}

				@media (max-width: 599px) {
					.__location {
						max-width: calc(100% - calc(40px + 18px));
					}
				}
			}
		}

		.__remove_location,
		.__add_location {
			min-width: 30px;
			height: 30px;
			padding: 0;
		}

		.__remove_location {
			&:not(:hover) {
				opacity: .7;
			}
		}
	}
}

/**
* RTL Styles.
*/
body.rtl {
	.__form_control {
		.radio-group {
			&:not(.radio-group-vertical) {
				.components-radio-control__option {
					label {
						display: inline-block;
					}

					&:not(:last-child) {
						margin: 0 0 0 12px;
					}
				}
			}
		}
	}

	.__custom_react_select {
		.__react_select__dropdown-indicator {
			padding: 0 0 0 4px;
		}
	}
}
