.__main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}

.__list_table_wrapper {
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
    outline: none;
    border-radius: 1px;

    .__list_table_header {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        h2 {
            padding: 0;
            margin: 0;
        }
    }

    --vr-padding: 16px;
    --hr-padding: 24px;

    .__list_table_inner {
        table {
            border-collapse: collapse;
            width: 100%;

            th {
                font-weight: 400;
                background-color: #f8f9fa;
            }

            thead {
                th {
                    padding: 0 var(--vr-padding);
                    height: 36px;
                    border-bottom: 1px solid #e2e4e7;
                    text-align: left;
                }

                .__Title {
                    padding-left: var(--hr-padding);
                }

                .__Actions {
                    padding-left: calc(var(--vr-padding) + 10px);
                    padding-right: var(--hr-padding);
                }
            }

            tbody {
                td {
                    padding: var(--vr-padding) var(--vr-padding);

                    &.__Title {
                        padding-left: var(--hr-padding);
                    }

                    &.__Actions {
                        padding-bottom: 0;
                        padding-right: var(--hr-padding);
                        padding-top: 0;
                    }

                    text-align: left;
                    border-bottom: 1px solid #e2e4e7;

                    .__post_id,
                    .__component_extra {
                        color: rgba(0, 0, 0, 0.3);
                        font-size: 12px;
                        margin-left: 4px;
                    }

                    .__post_title {
                        text-decoration: none;
                    }

                    .components-button {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }

        .__list_table_summary {
            padding: calc(var(--hr-padding) - 10px) var(--vr-padding);
        }
    }
}

.__list_table_search {
	display: flex;
	gap: 1.5em;
	margin: 1.5em 0;

	.__search_box {
		.components-search-control__input-wrapper {
			.components-search-control__input {
				background-color: #fff;
				height: 36px;
				min-height: 36px;
				box-shadow: $inputBorderColor 0px 0px 0px 1px;
			}
		}

		.components-base-control__field {
			margin: 0;
		}
	}
}

.__list_table_footer {
	margin: 1em 0;
}

table.__list_table {
	border: none;

	.row-title {
		font-weight: 500;
	}

	.__post_id {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.3);
	}

	.__Actions {
		text-align: center;
	}

	.__action_buttons {
		display: flex;
		gap: 4px;
		justify-content: center;

		.__primary {
			color: var(--wp-admin-theme-color);
		}

		.__destructive {
			color: $svgDeleteColor;
		}

		.__contextual {
			color: #50575e;
		}
	}

	.__component_extra {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.3);
	}

	.__no_results {
		background-color: transparent;
	}
}
