.__list_table_wrapper {
    --vr-padding: 16px;
    --hr-padding: 24px;

    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
    outline: none;
    border-radius: 1px;

    .__list_table_header {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
        padding: var(--vr-padding) var(--hr-padding);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        h2 {
            padding: 0;
            margin: 0;
        }

        .components-button {
            gap: 7px;
        }
    }

    .__list_table_inner {
        @media (max-width: 800px) {
            overflow-x: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            @media (max-width: 800px) {
                min-width: 720px;
            }


            th {
                background-color: #f8f9fa;
            }

            thead {
                th {
                    border-bottom: 1px solid #e2e4e7;
                    font-weight: 500;
                    padding: 0 var(--vr-padding);
                    height: 36px;
                }
            }

            tbody {
                td {
                    border-bottom: 1px solid #e2e4e7;
                    padding: var(--vr-padding) var(--vr-padding);

                    &.__Actions {
                        padding-bottom: 0;
                        padding-top: 0;
                    }

                    .__post_id,
                    .__component_extra {
                        color: rgba(0, 0, 0, 0.3);
                        display: inline-flex;
                        font-size: 12px;
                    }

                    .__post_title {
                        font-weight: 500;
                        text-decoration: none;
                    }

                    .components-button {
                        &.is-small.has-icon {
                            padding: 0;
                            min-width: 30px;
                            height: 30px;
                        }

                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .__list_table_summary {
        padding: var(--vr-padding) var(--hr-padding);
    }
}

body {
    &:not(.rtl) {
        .__list_table_wrapper {

            th,
            td {
                text-align: left;
            }

            thead {
                .__Title {
                    padding-left: var(--hr-padding);
                }

                .__Actions {
                    padding-left: calc(var(--vr-padding) + 10px);
                    padding-right: var(--hr-padding);
                }
            }

            tbody {
                td {
                    &.__Title {
                        padding-left: var(--hr-padding);
                    }

                    &.__Actions {
                        padding-right: var(--hr-padding);
                    }

                    .__post_id,
                    .__component_extra {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    &.rtl {
        .__list_table_wrapper {

            th,
            td {
                text-align: right;
            }

            thead {
                .__Title {
                    padding-right: var(--hr-padding);
                }

                .__Actions {
                    padding-right: calc(var(--vr-padding) + 10px);
                    padding-left: var(--hr-padding);
                }
            }

            tbody {
                td {
                    &.__Title {
                        padding-right: var(--hr-padding);
                    }

                    &.__Actions {
                        padding-left: var(--hr-padding);
                    }

                    .__post_id,
                    .__component_extra {
                        margin-right: 4px;
                    }
                }
            }

            .__edit_btn {
                transform: rotate(180deg);
            }
        }
    }
}
