@import './mixins';

.__manual_options_modal {
    @include fixed-height-modal;

    .components-modal__header-heading {
        @include modal-heading;
    }

    .components-checkbox-control__input {
        border-color: $inputBorderColor;
    }

    .components-checkbox-control {
        .components-base-control__field {
            margin-bottom: 0;
        }
    }

    .__header {
        @media (min-width: 768px) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        .__search_box {
            .components-search-control__input {
                height: 38px;
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }

        @media (max-width: 767px) {
            .__results_info {
                margin-bottom: 1em;
            }

            .__search_box {
                margin-bottom: 1.5em;
            }
        }
    }

    .__options {
        margin: 1em 0;

        .__option {
            background-color: #fafafa;
            border: 1px solid #eeeeee;
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;

            &.__hide_option {
                display: none;
            }

            >label {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                padding: 7px 10px;
            }

            .__label {
                @include horizontal-space(4px);
            }

            .__info {
                @include info;
            }
        }
    }

    .__add_options_btn_group {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    @media (max-width: 599px) {
        &.ajax-done.__meta_values_modal .components-modal__content {
            margin-bottom: 100px;
        }

        &.__meta_values_modal .components-modal__content .__modal_footer {
            flex-direction: column;
            gap: 10px;
            height: 100px;
            justify-content: center;
        }
    }
}
