@import './variables';
@import './mixins';

.__options_table {
	.__form_control {
		margin-bottom: 1.5em;
	}

	.wp-list-table.widefat {
		border: none;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

		thead {
			th {
				border-color: #ddd;
				font-weight: 500;
			}
		}

		.components-text-control__input {
			border-color: $inputBorderColor;
			max-width: 200px;

			&:focus {
				border-color: var(--wp-admin-theme-color);
			}
		}

		.components-checkbox-control__input {
			border-color: $inputBorderColor;
		}

		th {
			&.__drag_handle {
				width: 20px;
			}

			&.__action {
				text-align: center;
				width: 40px;
			}

			@media (min-width: 600px) {
				&.__value {
					width: 200px;
				}

				&.__min_value,
				&.__max_value,
				&.__per_page {
					width: 120px;
				}

				&.__time_period {
					width: 170px;
				}
			}

			&.__product_status {
				width: 150px;
			}

			&.__sort_by {
				width: 200px;
			}

			&.__direction {
				width: 100px;
			}

			@media (min-width: 600px) and (max-width: 1499px) {
				&.__sort_by {
					width: 185px;
				}

				&.__direction {
					width: 85px;
				}
			}
		}

		td {
			vertical-align: middle;

			>div {
				display: flex;
			}
		}

		.__drag_handler {
			cursor: grab;
		}

		@include button-link-delete;

		@media (min-width: 600px) {
			td {
				.__value {
					.components-text-control__input {
						max-width: 180px;
					}
				}

				.__min_value,
				.__max_value,
				.__per_page {
					.components-text-control__input {
						max-width: 100px;
					}
				}
			}
		}

		.__rating_label {
			.components-text-control__input {
				max-width: 340px;
			}
		}

		.__product_status {
			.__custom_react_select {
				min-width: 140px;
			}
		}

		.__time_period {
			.__custom_react_select {
				min-width: 150px;
			}
		}

		.__sort_by,
		.__meta_info {
			.__custom_react_select {
				width: 180px;
			}
		}

		.__meta_info {
			flex-direction: column;
			gap: 5px;
			margin-top: 5px;

			.__meta_key,
			.__meta_type {
				display: flex;
				margin-top: 2px;
			}
		}

		.__direction {
			.__custom_react_select {
				min-width: 80px;
			}
		}

		.__term_name,
		.__author_name {
			display: block;
		}

		.__term_id,
		.__author_id {
			@include info;
		}

		td {
			.__img_preview {
				max-height: 38px;
				width: auto;
			}

			.__color,
			.__image {
				align-items: center;
				gap: 8px;
			}

		}
	}

	.__action_buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5em;
		margin-bottom: 2em;

		@media (max-width: 392px) {
			flex-direction: column;
			gap: 10px;
		}

		.components-button+.components-button {
			@include horizontal-space-left(4px);
		}
	}

	@media (max-width: 599px) {
		.__responsive_table {
			@include responsive-table;

			&.number-options,
			&.time-period-options {
				table {
					min-width: 460px;
				}
			}

			&.product-status-options {
				table {
					min-width: 480px;
				}
			}

			&.sort-by-options {
				table {
					min-width: 600px;
				}
			}
		}
	}

	@media (min-width: 1120px) and (max-width: 1199px) {
		.__responsive_table {
			&.sort-by-options {
				@include responsive-table;

				table {
					min-width: 600px;
				}
			}
		}
	}
}
