@import './mixins';

.__meta_values_modal {
    @include fixed-height-modal;

    .components-checkbox-control__input {
        border-color: $inputBorderColor;
    }

    .components-checkbox-control {
        .components-base-control__field {
            margin-bottom: 0;
        }
    }

    .__options {
        margin: 1em 0;

        .components-base-control {
            background-color: #fafafa;
            border: 1px solid #eeeeee;
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;
            padding: 7px 10px;

            .components-checkbox-control__input {
                margin-right: 12px;
            }
        }
    }

    .__add_options_btn_group {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    @media (max-width: 599px) {
        &.ajax-done .components-modal__content {
            margin-bottom: 100px;
        }

        .components-modal__content .__modal_footer {
            flex-direction: column;
            gap: 10px;
            height: 100px;
            justify-content: center;
        }
    }
}
