@import './variables';

@mixin button-link-delete {
    .button-link-delete {
        svg {
            fill: $linkDeleteColor;
            opacity: 0.2;
            transition: opacity 0.1s linear;
        }

        &:hover,
        &:focus {
            svg {
                opacity: 0.8;
            }
        }

        &:focus {
            box-shadow: 0 0 0 1px rgb(204 24 24 / 80%), 0 0 2px 1px rgb(204 24 24 / 60%);
            outline: 1px solid transparent;
        }
    }
}
