@import './variables';

@mixin list-table {
    --vr-padding: 16px;
    --hr-padding: 24px;

    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
    outline: none;
    border-radius: 1px;
}

@mixin primary-button($button-size: false) {
    font-weight: 500;
    justify-content: center;
    min-width: $button-size;
    text-transform: uppercase;
    gap: 7px;
    height: 40px;
}

@mixin list-table-header($button-size) {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding: var(--vr-padding) var(--hr-padding);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .components-button {
        @include primary-button($button-size);
    }
}

@mixin button-link-delete {
    .button-link-delete {
        svg {
            fill: $linkDeleteColor;
            opacity: 0.2;
            transition: opacity 0.1s linear;
        }

        &:hover,
        &:focus {
            svg {
                opacity: 0.8;
            }
        }

        &:focus {
            box-shadow: 0 0 0 1px rgb(204 24 24 / 80%), 0 0 2px 1px rgb(204 24 24 / 60%);
            outline: 1px solid transparent;
        }
    }
}

@mixin fixed-height-modal {
    width: 80em;

    &.ajax-done {
        min-height: 70%;
    }

    .components-modal__content {
        &::after {
            content: "";
            display: block;
            margin-bottom: 24px;
        }

        .__modal_footer {
            box-sizing: border-box;
            border-top: 1px solid #ddd;
            padding: 0 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;

            .components-button+.components-button {
                margin-left: 4px;
            }
        }
    }

    &.ajax-done {
        .components-modal__content {
            padding-bottom: 0;
            margin-bottom: 60px;
        }
    }

    .__loader {
        text-align: center;

        svg {
            width: 32px;
            height: 32px;
        }
    }
}

@mixin responsive-table {
    overflow-x: auto;
    padding-bottom: 15px;
    position: relative;
    z-index: 1;
}

@mixin horizontal-space($space) {
    $self: &;

    @at-root body {
        &:not(.rtl) {
            #{$self} {
                margin-right: $space;
            }
        }

        &.rtl {
            #{$self} {
                margin-left: $space;
            }
        }
    }
}

@mixin info {
    color: rgba(0, 0, 0, 0.3);
    display: inline-flex;
    font-size: 12px;
}

@mixin post-title-with-info {
    .__post_title {
        font-weight: 500;
        display: inline-flex;
        text-decoration: none;

        @include horizontal-space(4px);
    }

    .__post_id {
        @include info;
    }
}

@mixin component-with-extra {
    .__component {
        display: inline-flex;

        @include horizontal-space(4px);
    }

    .__component_extra {
        @include info;
    }
}

@mixin ltr {
    $self: &;

    @at-root body:not(.rtl) {
        #{$self} {
            @content;
        }
    }
}

@mixin rtl {
    $self: &;

    @at-root body.rtl {
        #{$self} {
            @content;
        }
    }
}
