@import './variables';

.__options_table {
	.__form_control {
		margin-bottom: 1.5em;
	}

	.wp-list-table.widefat {
		border: none;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

		thead {
			th {
				border-color: #ddd;
				font-weight: 500;
			}
		}

		.components-text-control__input {
			border-color: $inputBorderColor;
			max-width: 150px;

			&:focus {
				border-color: var(--wp-admin-theme-color);
			}
		}

		.components-checkbox-control__input {
			border-color: $inputBorderColor;
		}

		th {
			&.__drag_handle {
				width: 20px;
			}

			&.__action {
				text-align: center;
				width: 40px;
			}
		}

		td {
			vertical-align: middle;

			> div {
				display: flex;
			}
		}

		.__option_value {
			display: flex;
			flex-direction: column;
		}

		.slug,
		.id {
			font-size: 12px;

			span {
				color: rgba(0, 0, 0, 0.3);
			}
		}

		.__drag_handler {
			cursor: grab;
		}

		.button-link-delete {
			svg {
				fill: $linkDeleteColor;
				opacity: 0.2;
				transition: opacity 0.1s linear;
			}

			&:hover {
				svg {
					opacity: 0.8;
				}
			}
		}

		.__min_value,
		.__max_value {
			width: 100px;
		}

		.__range_label {
			.components-text-control__input {
				max-width: 180px;
			}
		}

		.__rating_label {
			.components-text-control__input {
				max-width: 340px;
			}
		}

		.__time_period {
			.components-custom-select-control__menu {
				$itemHeight: 30px;
				$itemsToShow: 6;

				max-height: calc(#{$itemHeight} * #{$itemsToShow});
			}
		}
	}

	.__description {
		font-weight: 500;
	}

	.__button_group {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5em;
	}
}

.__options_table_modal {
	.components-modal__content {
		width: 80em;

		.components-checkbox-control__input {
			border-color: $inputBorderColor;
		}

		.components-checkbox-control {
			.components-base-control__field {
				margin-bottom: 0;
			}
		}

		.__options {
			margin: 1em 0;

			.components-base-control {
				background-color: #fafafa;
				border: 1px solid #eeeeee;
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;
				padding: 7px 10px;

				.components-checkbox-control__input {
					margin-right: 12px;
				}
			}
		}
	}
}
