.__pagination {
    margin: 0;
    display: inline-block;

    li {
        margin: 0;
        display: inline-flex;
    }

    a {
        padding: 8px 16px;
        text-decoration: none;
        display: inline-flex;
        user-select: none;
        box-shadow: inset 0 0 0 1px $inputBorderColor;
        color: #1e1e1e;
    }

    .disabled a {
        cursor: default;
        opacity: 0.3;
    }

    li {
        &:not(.disabled) {
            a {
                cursor: pointer;
            }

            a:focus {
                box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
                outline: 3px solid transparent;
            }
        }

        &:not(.selected):not(.disabled) {
            a:hover {
                color: var(--wp-admin-theme-color);
            }
        }

        a:focus {
            position: relative;
            z-index: 1;
        }

        &:first-child a {
            border-radius: 2px 0 0 2px;
        }

        &:last-child a {
            border-radius: 0 2px 2px 0;
        }

        &.selected a {
            background: var(--wp-admin-theme-color);
            color: #fff;
            outline: 1px solid transparent;
            box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color);

            &:focus {
                box-shadow: inset 0 0 0 1px #fff, 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
            }
        }
    }

    li + li {
        margin-left: -1px;
    }
}
