@import './mixins';

.__pro_upgrade_modal {
    width: 46em;

    h3 {
        margin: 0.5em 0 0;

        @include modal-heading;

        font-size: 1.3em;
    }

    .__separator {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-left: -32px;
        margin-right: -32px;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .__buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 2.5em;
    }
}
