.__pro_tag {
	--gradient-start: #a16bfe;
	--gradient-start-text: '#A16BFE';
	--gradient-end: #deb0df;
	--gradient-end-text: '#DEB0DF';

	display: inline-block;

	&::before {
		content: 'PRO';
		color: #fff;
		background: linear-gradient(
			33deg,
			var(--gradient-start),
			var(--gradient-end)
		);
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 2px 4px;
		border-radius: 4px;
		margin: 0 0 0 4px;
		font-size: 12px;
	}
}

body.rtl {
	.__pro_tag {
		&::before {
			margin: 0 4px 0 0;
		}
	}
}
