.__upgrade_btn,
.__pro_tag {
	--gradient-start: #a16bfe;
	--gradient-end: #deb0df;
}

a.__upgrade_btn {
	align-items: center;
	background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
	border-radius: 4px;
	color: #fff;
	display: inline-flex;
	font-size: .625rem;
	font-weight: 600;
	letter-spacing: .2px;
	line-height: 1;
	gap: .65rem;
	padding: 10px 12px;
	text-transform: uppercase;
	text-decoration: none;

	svg {
		fill: #fff;
	}

	&:focus {
		box-shadow: 0 0 0 1px var(--gradient-start);
	}
}

.__pro_tag {
	display: inline-block;

	&::before {
		content: 'PRO';
		color: #fff;
		background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 2px 4px;
		border-radius: 4px;
		margin: 0 0 0 4px;
		font-size: 12px;
	}
}

body.rtl {
	.__pro_tag {
		&::before {
			margin: 0 4px 0 0;
		}
	}
}
