@import './mixins';

.__publish_modal {
    width: 46em;

    h3 {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-left: -32px;
        margin-right: -32px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 0.8em;
        margin-bottom: 1.2em;

        @include modal-heading;
    }

    .__link {
        margin-top: 1.4em;
        margin-bottom: 1.2em;

        .components-button {
            border-radius: 4px;
            justify-content: center;
            height: 38px;
            width: 100%;
        }
    }
}
