table.__list_table {
	@media (min-width: 960px) {
		.__Title {
			width: 300px;
		}

		.__Actions {
			width: 250px;
			text-align: center;
		}
	}
}

.__responsive-table {
	.__list_table {
		@media (max-width: 782px) {
		}
	}
}
