@import './variables';
@import './mixins';

.__settings_wrapper {
    @include list-table;

    .__settings_header {
        @include list-table-header(110px);
    }
}

.__settings_tab {
    @include inner-tab;

    .components-tab-panel__tabs {
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .components-tab-panel__tabs-item {
            flex-shrink: 0;
        }
    }

    @media (min-width: 768px) {
        .__form_control .__label {
            width: 200px;
        }
    }

    .__single_select {
        &.filter_relationships {
            min-width: 70px;
        }

        &.loading_animation {
            min-width: 170px;
        }
    }

    .__scroll_window_to {
        .__input_wrapper {
            .__single_select {
                margin-bottom: 8px;

                &.scroll_window {
                    min-width: 150px;
                }

                &.scroll_window_for {
                    min-width: 170px;
                }

                &.scroll_window_when {
                    min-width: 100px;
                }
            }

            &::after,
            &::before {
                content: '';
                clear: both;
                display: table;
            }

            @include ltr {
                .__single_select {
                    float: left;

                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                }
            }

            @include rtl {
                .__single_select {
                    float: right;

                    &:not(:last-child) {
                        margin-left: 8px;
                    }
                }
            }
        }

        .description {
            margin-top: 0;
        }
    }

    .__global_filter_keys_heading {
        margin: .5em 0 1.5em;

        ~.__description {
            margin-bottom: 2em;
        }
    }

    .__global_filter_keys {
        .__filter_key {
            align-items: center;
            display: flex;
            margin: 0 0 1.5em;
            gap: 15px;

            .__label {
                font-weight: 500;

                @media (min-width: 600px) {
                    min-width: 200px;
                }
            }
        }

        .__drag_handle_wrapper {
            display: inline-flex;

            .__drag_handler {
                cursor: grab;
            }
        }

        @media (max-width: 599px) {
            .__label {
                flex: .8;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .__value {
                flex: 1;
            }
        }
    }

    .__pro_settings {
        text-align: center;
    }
}

.__filter_key .components-text-control__input {
    border-color: $inputBorderColor;
}

.__form_control.react_select .__custom_react_select.full-width.author_roles {
    max-width: 570px;
}
