.__sidebar {
    .components-card-header {
        h2 {
            margin: 0;
        }
    }

    .__pro_features_card,
    .components-card {
        margin-bottom: var(--large-gap);

        @media (max-width: 1199px) {
            margin-top: var(--large-gap);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .__card_heading {
        margin: 0;
    }

    .components-card-body {
        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

body {
    &:not(.rtl) {
        .__sidebar {
            .components-button {
                margin: 0 4px 4px 0;
            }
        }
    }

    &.rtl {
        .__sidebar {
            .components-button {
                margin: 0 0 4px 4px;
            }
        }
    }
}
