$blackBold: #50575e;
$inputBorderColor: #ddd;
$inputDisabledBGColor: #f0f0f0;
$linkDeleteColor: #cc1818;
$svgDeleteColor: #d93e3e;
$inputDisabledColor: #777;
$successCheckColor: #4ab866;
$separatorBorderColor: #ededed;
$separatorBoxShadow: 0 10px 10px rgb(0 0 0 / 2%);
$blockBoxShadow: 0 10px 35px rgb(0 0 0 / 7%);
$blockBorderRadius: 1px;

:root {
    --vr-padding: 16px;
    --hr-padding: 24px;
    --large-gap: 40px;

    @media (max-width: 960px) {
        --large-gap: 24px;
    }

    @media (max-width: 782px) {
        --large-gap: 16px;
    }
}
