$blackBold: #50575e;
$inputBorderColor: #ddd;
$linkDeleteColor: #cc1818;
$svgDeleteColor: #d93e3e;
$inputDisabledColor: #777;
$successCheckColor: #4ab866;

:root {
    --large-gap: 40px;

    @media (max-width: 960px) {
        --large-gap: 24px;
    }

    @media (max-width: 782px) {
        --large-gap: 16px;
    }
}
