// @import './variables';
// @import './mixins';

.__visibility_rules {
    margin-bottom: 2em;

    .__form_control {
        margin-bottom: 8px;
    }

    .__rules_heading {
        cursor: auto;
    }

    // .components-base-control__field {
    //     margin: 0;

    //     .components-checkbox-control__input-container {
    //         @include horizontal-space(6px);
    //     }
    // }

    // .components-checkbox-control__input {
    //     border-color: $inputBorderColor;
    // }

    $border-radius: 1px;
    $gap: 8px;

    .or-clauses {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: $border-radius;
        padding: $gap;
    }

    .or-clause {
        display: flex;
        align-items: center;
        margin-bottom: $gap;
        gap: $gap;

        .cols {
            align-items: center;
            display: flex;
            flex: 1;
            gap: $gap;
            background: #f8f9fa;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: $border-radius;
            padding: $gap;

            .filter_value_input {
                margin: 0;
            }

            @media (min-width: 850px) {
                .rule {
                    width: 100px;
                }

                .operator {
                    width: 105px;
                }

                .condition_2 {
                    width: 230px;
                }

                // .page_options_dropdown {
                //     width: 230px;
                // }

                // .filter_options_dropdown {
                //     width: 170px;
                // }

                .condition_3 {
                    width: 200px;
                }

                .filter_value_input {
                    width: 180px;
                }
            }

            @media (max-width: 849px) {
                align-items: flex-start;
                flex-direction: column;

                .rule,
                .operator,
                .condition_1,
                .condition_2,
                .condition_3 {
                    width: 100%;
                }

                .filter_value_input .components-text-control__input {
                    max-width: unset;
                }
            }
        }
    }

    @include button-link-delete;

    .and-clauses-separator {
        font-weight: 500;
    }

    .__select_v_r {
        .__react_select__clear-indicator {
            padding-left: 4px;
            padding-right: 4px;

            svg {
                width: 16px;
            }
        }

        .__react_select__option--is-selected {
            .__info {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .__action_buttons {
        display: flex;
        gap: 4px;
        justify-content: space-between;
    }

    .and-clauses {
        .and-clause:last-child .and-clauses-separator {
            display: none;
        }

        ~.__action_buttons {
            margin-top: 1.5em;
        }
    }
}
