@mixin ltr {
	$self: &;

	@at-root body:not(.rtl) {
		#{$self} {
			@content;
		}
	}
}

@mixin rtl {
	$self: &;

	@at-root body.rtl {
		#{$self} {
			@content;
		}
	}
}

@mixin box-sizing {
	*,
	::before,
	::after {
		box-sizing: border-box;
	}
}
