body {
	// twentytwentythree
	//--wp--preset--font-size--medium: 16px;

	.wcapf-form-fields {
		//width: 280px;
		//width: 400px;
	}
}

:root {
	--wcapf-primary-color: rgba(var(--wcapf-primary-color-rgb), 1);
	--wcapf-primary-accent-color: rgba(var(--wcapf-primary-accent-color-rgb), 1);

	--wcapf-active-filters-group-bottom-margin: 1em;
	--wcapf-active-filters-nav-hr-padding: 7px;
	--wcapf-active-filters-nav-vr-padding: 1px;
	--wcapf-clear-all-btn-top-margin: .6em;
	--wcapf-filter-base-bottom-margin: 2em; // 3em
	--wcapf-filter-checked-outline-color: #333;
	--wcapf-filter-line-height: inherit;
	--wcapf-filter-count-opacity: .6;
	--wcapf-filter-outline-color: #e9e9e9; // #ddd // #d8d8da // #ccd0dc // #ced4da // #e9e9e9
	--wcapf-nouislider-input-field-margin-bottom: 1.5em;
	--wcapf-nouislider-plain-text-margin-bottom: 1em;
	--wcapf-range-slider-bottom-padding: 1em;
	--wcapf-results-container-loading-bg-color: #fff;
	--wcapf-results-loading-body-bg-color: rgba(255, 255, 255, .7);

	// Filter Title
	--wcapf-filter-title-font-size: 1.25em;
	--wcapf-filter-title-font-weight: normal;
	--wcapf-filter-title-margin-bottom: 1em; // 1.4em
	--wcapf-filter-title-line-height: 1.6;
	--wcapf-filter-accordion-icon-size: .9em;

	// Range Filter Input Field
	--wcapf-range-filter-input-bg-color: #fff;
	--wcapf-range-filter-input-font-size: 1em;
	--wcapf-range-filter-input-hr-padding: 0.625em;
	--wcapf-range-filter-input-vr-padding: 0.625em;
	--wcapf-range-filter-unit-size: 2em;
	--wcapf-range-filter-input-max-width: 110px;
	--wcapf-range-filter-input-border-size: 1px;
	--wcapf-range-filter-input-border-color: #ced4da;
	--wcapf-range-filter-input-border-radius: 0.25em;

	// List
	--wcapf-layered-nav-list-child-left-padding: 1.618em;
	--wcapf-layered-nav-list-vertical-spacing: .4em;

	// Checkbox/Radio
	--wcapf-checkbox-radio-space: 0.5em;

	// Dropdown
	--wcapf-dropdown-border-color: #ced4da; // #ccd0dc // #d8d8da // #ced4da
	--wcapf-dropdown-border-radius: 0.25em;

	// Label
	--wcapf-labeled-nav-bg-color: #fff;
	--wcapf-labeled-nav-border-size: 1px;
	--wcapf-labeled-nav-border-color: #ddd;
	--wcapf-labeled-nav-margin: 0.4em;
	--wcapf-labeled-nav-border-radius: 0.375em;
	--wcapf-labeled-nav-line-height: 1;
	--wcapf-labeled-nav-hr-padding: 0.875em;
	--wcapf-labeled-nav-vr-padding: 0.625em;
}
